.certificates 
    .certificates-select 
        .container.certificates__container
            .inner-left
                +button-prev("product-hero__button-prev")
            .inner-right.products__inner
                ul.certificates-select__big
                    li.certificates-select__big-item Сертификаты
                ul.certificates-select__small
                    li.certificates-select__small-item.certificates-select__small-item--select Сертификаты ISO
                    li.certificates-select__small-item Сертификаты происхождения
                    li.certificates-select__small-item Сертификаты соответствия   
                    li.certificates-select__small-item демо-фильтр         
                    li.certificates-select__small-item демо-фильтр         
                    li.certificates-select__small-item демо-фильтр         
    .certificates-all
        .container.products__container
            .inner-left.certificates-all__left
            .inner-right.certificates-all__inner
                ul.certificates-all__list
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.png", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.png", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.png", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.png", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.png", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.png", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.png", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.png", alt="")
                            .certificates-item__text KCEP на международной