.certificates 
    .certificates-select 
        .container.certificates__container
            .inner-left
                a.certificates__back(href="#") 
                    .certificates__back-arrow
                        img.certificates__back-img(src="img/arrow_back.svg", alt="")
                    |назад
            .inner-right.products__inner
                ul.certificates-select__big
                    li.certificates-select__big-item Сертификаты
                ul.certificates-select__small
                    li.certificates-select__small-item.certificates-select__small-item--select Сертификаты ISO
                    li.certificates-select__small-item Сертификаты происхождения
                    li.certificates-select__small-item Сертификаты соответствия   
                    li.certificates-select__small-item демо-фильтр         
                    li.certificates-select__small-item демо-фильтр         
                    li.certificates-select__small-item демо-фильтр         


    .certificates-all
        .container.products__container
            .inner-left
            .inner-right.certificates-all__inner
                ul.certificates-all__list
                    li.certificates-all__list-item.certificates-item
                        img.certificates-item__img(src="img/certificates/1.png", alt="")
                        a.certificates-item__link(href="#") KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        img.certificates-item__img(src="img/certificates/1.png", alt="")
                        a.certificates-item__link(href="#") KCEP на международной 
                    li.certificates-all__list-item.certificates-item
                        img.certificates-item__img(src="img/certificates/1.png", alt="")
                        a.certificates-item__link(href="#") KCEP на международной 
                    li.certificates-all__list-item.certificates-item
                        img.certificates-item__img(src="img/certificates/1.png", alt="")
                        a.certificates-item__link(href="#") KCEP на международной 
                    li.certificates-all__list-item.certificates-item
                        img.certificates-item__img(src="img/certificates/1.png", alt="")
                        a.certificates-item__link(href="#") KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        img.certificates-item__img(src="img/certificates/1.png", alt="")
                        a.certificates-item__link(href="#") KCEP на международной 
                    li.certificates-all__list-item.certificates-item
                        img.certificates-item__img(src="img/certificates/1.png", alt="")
                        a.certificates-item__link(href="#") KCEP на международной 
                    li.certificates-all__list-item.certificates-item
                        img.certificates-item__img(src="img/certificates/1.png", alt="")
                        a.certificates-item__link(href="#") KCEP на международной 
                    