.certificates 
    .certificates-select 
        .container.certificates__container
            .inner-left.certificates-select__left
                +button-prev("product-hero__button-prev")
            .inner-right.products__inner
                h1.title.certificates-select__title Сертификаты
                ul.certificates-select__small
                    li.tag.tag--selected.certificates-select__small-item Сертификаты ISO
                    li.tag.certificates-select__small-item Сертификаты происхождения
                    li.tag.certificates-select__small-item Сертификаты соответствия   
                    li.tag.certificates-select__small-item демо-фильтр         
                    li.tag.certificates-select__small-item демо-фильтр         
                    li.tag.certificates-select__small-item демо-фильтр         
    .certificates-all
        .container.products__container
            .inner-left.certificates-all__left
            .inner-right.certificates-all__inner
                ul.certificates-all__list
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.jpeg", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.jpeg", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.jpeg", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.jpeg", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.jpeg", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.jpeg", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.jpeg", alt="")
                            .certificates-item__text KCEP на международной
                    li.certificates-all__list-item.certificates-item
                        a.certificates-item__link(href="#") 
                            img.certificates-item__img(src="img/certificates/1.jpeg", alt="")
                            .certificates-item__text KCEP на международной
    .certificates-popup
        .certificates-popup__dialog
            img(src="img/certificates/1.jpeg", alt="")
            
            p тест
            button.certificates-popup__close
                <svg class="about-popup__close-icon">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>