section.knowledge-content
	.sticky-bg
	.container
		.inner.knowledge-content__inner
			.inner-left.knowledge-content__inner-left
			.inner-right.knowledge-content__inner-right
				.knowledge-content__accordion
					ul.accordion.knowledge-content__accordion-list
						li.accordion-item.knowledge-content__accordion-list-item
							.knowledge-content__accordion-list-item-header.accordion-item-controller
								span.text Протоколы испытаний
								span.backdrop-text Протоколы испытаний
								button.knowledge-content__accordion-list-item-header-button
									<svg class="knowledge-content__accordion-list-item-header-button">
										<use xlink:href="img/sprite.svg#arrow-prev"></use>
									</svg> 
							ul
								li 
									a(href="#") Сертификаты
								li 
									a(href="#") Протоколы испытаний
								li 
									a(href="#") Достижения
						li.accordion-item.knowledge-content__accordion-list-item
							.knowledge-content__accordion-list-item-header.accordion-item-controller
								span.text Документация
								span.backdrop-text Документация
								button.knowledge-content__accordion-list-item-header-button
									<svg class="knowledge-content__accordion-list-item-header-button">
										<use xlink:href="img/sprite.svg#arrow-prev"></use>
									</svg> 
							ul
								li 
									a(href="#") Сертификаты
								li 
									a(href="#") Протоколы испытаний
								li 
									a(href="#") Достижения
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 4
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 5
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 6
						li.accordion-item.knowledge-content__accordion-list-item
							.knowledge-content__accordion-list-item-header.accordion-item-controller
								span.text Информация о волокне
								span.backdrop-text Информация о волокне
								button.knowledge-content__accordion-list-item-header-button
									<svg class="knowledge-content__accordion-list-item-header-button">
										<use xlink:href="img/sprite.svg#arrow-prev"></use>
									</svg> 
							ul
								li 
									a(href="#") Сертификаты
								li 
									a(href="#") Протоколы испытаний
								li 
									a(href="#") Достижения
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 4
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 5
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 6
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 7
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 8
						li.accordion-item.knowledge-content__accordion-list-item
							.knowledge-content__accordion-list-item-header.accordion-item-controller
								span.text Видео-инструкции
								span.backdrop-text Видео-инструкции
								button.knowledge-content__accordion-list-item-header-button
									<svg class="knowledge-content__accordion-list-item-header-button">
										<use xlink:href="img/sprite.svg#arrow-prev"></use>
									</svg> 
							ul
								li 
									a(href="#") Сертификаты
								li 
									a(href="#") Протоколы испытаний
								li 
									a(href="#") Достижения
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 4
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 5
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 6
						li.accordion-item.knowledge-content__accordion-list-item
							.knowledge-content__accordion-list-item-header.accordion-item-controller
								span.text Скачать каталоги и брощюры
								span.backdrop-text Скачать каталоги и брощюры
								button.knowledge-content__accordion-list-item-header-button
									<svg class="knowledge-content__accordion-list-item-header-button">
										<use xlink:href="img/sprite.svg#arrow-prev"></use>
									</svg> 
							ul
								li 
									a(href="#") Сертификаты
								li 
									a(href="#") Протоколы испытаний
								li 
									a(href="#") Достижения
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 4
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 5
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 6
						li.accordion-item.knowledge-content__accordion-list-item
							.knowledge-content__accordion-list-item-header.accordion-item-controller
								span.text Блок с заголовоком, который нужен
								span.backdrop-text Блок с заголовоком, который нужен
								button.knowledge-content__accordion-list-item-header-button
									<svg class="knowledge-content__accordion-list-item-header-button">
										<use xlink:href="img/sprite.svg#arrow-prev"></use>
									</svg> 
							ul
								li 
									a(href="#") Сертификаты
								li 
									a(href="#") Протоколы испытаний
								li 
									a(href="#") Достижения
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 4
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 5
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 6
						li.accordion-item.knowledge-content__accordion-list-item
							.knowledge-content__accordion-list-item-header.accordion-item-controller
								span.text Блок с заголовоком, который нужен
								span.backdrop-text Блок с заголовоком, который нужен
								button.knowledge-content__accordion-list-item-header-button
									<svg class="knowledge-content__accordion-list-item-header-button">
										<use xlink:href="img/sprite.svg#arrow-prev"></use>
									</svg> 
							ul
								li 
									a(href="#") Сертификаты
								li 
									a(href="#") Протоколы испытаний
								li 
									a(href="#") Достижения
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 4
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 5
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 6
						li.accordion-item.knowledge-content__accordion-list-item
							.knowledge-content__accordion-list-item-header.accordion-item-controller
								span.text Блок с заголовоком, который нужен
								button.knowledge-content__accordion-list-item-header-button
									<svg class="knowledge-content__accordion-list-item-header-button">
										<use xlink:href="img/sprite.svg#arrow-prev"></use>
									</svg> 
							ul
								li 
									a(href="#") Сертификаты
								li 
									a(href="#") Протоколы испытаний
								li 
									a(href="#") Достижения
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 4
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 5
								li 
									a(href="#") Текстовая ссылка на вложение или страницу 6
					