section.knowledge-hero.sticky-offset
	.container
		.inner.knowledge-hero__inner 
			.inner-left.knowledge-hero__inner-left
			.inner-right.knowledge-hero__inner-right
				h1.title.knowledge-hero__title База знаний