.home-hero {
	height: 900px;
	position: relative;
	margin-top: -102px;
	z-index: 2;

	@include media(tablet-993) {
		height: 800px;
	}

	&__container {
		height: 100%;
	}

	&__inner {
		padding-top: 196px;
		height: 100%;

		@include media(tablet-993) {
			padding-top: 150px;
		}

		&-right {
			flex-direction: column;

			@include media(mobile) {
				flex-basis: 100%;
				padding-left: 39px;
			}

			@include media(550) {
				padding-left: 13px;
			}
		}

		&-left {
			@include media(mobile) {
				flex-basis: 0;
				width: 0;
			}
		}
	}

	&__title {
		@include media(tablet-1200) {
			max-width: 700px;
		}
		@include media(tablet-993) {
			max-width: 500px;
		}
	}

	&__numbers {
		display: flex;
		font-family: $mainFont;
		margin-top: 96px;

		@include media(tablet-993) {
			margin-top: 60px;
		}

		@include media(550) {
			flex-direction: column;
		}

		&-item {
			display: flex;
			flex-direction: column;

			&:first-child {
				margin-right: 200px;

				@include media(tablet-993) {
					margin-right: 100px;
				}

				@include media(mobile) {
					margin-right: 60px;
				}

				@include media(550) {
					margin-right: 0;
				}
			}

			&:not(:first-child) {
				margin-top: 25px;
			}

			span {
				font-size: 16px;
				line-height: 32px;
				max-width: 225px;

				&:first-child {
					font-weight: 300;
					font-size: 44px;
					line-height: 32px;
				}
			}
		}
	}

	&__bottom {
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		padding-bottom: 41px;
		padding-right: 39px;

		@include media(mobile) {
			align-items: center;
		}

		&-left {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			font-weight: 500;
			font-size: 16px;
			line-height: 39px;
			opacity: 0.64;
			padding-top: 27px;

			@include media(mobile) {
				padding-top: 0;
			}

			span {
				white-space: nowrap;
				margin-right: 10px;
			}
		}

		&-button {
			position: relative;
			width: 71px;
			height: 71px;
			border-radius: 50%;
			background-color: $gold;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: 0.4s;

			&:hover {
				box-shadow: 0 0px 10px 10px $gold;
			}

			&::after {
				content: "";
				position: absolute;
				left: -6px;
				top: -6px;
				bottom: -6px;
				right: -6px;
				width: 79px;
				height: 79px;
				border: 2px solid #9b8a60;
				border-radius: 50%;
				opacity: 0.32;
			}

			@include media(mobile) {
				width: 52px;
				height: 52px;
				&::after {
					width: 60px;
					height: 60px;
				}
				img {
					width: 19px;
				}
			}
		}
	}
}
