.home-video {
	height: 900px;
	color: $dark;
	position: relative;

	.fp-scroller {
		height: 100%;
	}

	@include media(mobile) {
		height: 752px;
	}

	@include media(370) {
		height: 550px;
	}

	&__inner {
		padding-top: 121px;

		@include media(mobile) {
			padding-top: 145px;
		}

		&-left {
			@include media(mobile) {
				flex-basis: 0;
			}
		}

		&-right {
			position: relative;
			flex-direction: column;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: -135px;
				width: 1px;
				height: 100vh;
				background-color: rgba(160, 171, 123, 0.12);
	
				@include media(tablet-993) {
					display: none;
				}
			}

			@include media(mobile) {
				flex-basis: 100%;
				flex-direction: column-reverse;
			}
		}
	}

	&__item {
		opacity: 0;
		transition: opacity 1s;

		&.video--active {
			opacity: 1;
		}
	}

	&__tab {
		position: relative;
		display: inline-block;
		opacity: 0.64;
		cursor: pointer;
		flex-basis: 33.333333333333333333%;
		text-align: center;
		transition: 0.4s linear;

		&:first-child {
			text-align: left;
		}

		&:nth-child(3) {
			text-align: right;
		}

		&-timeline {
			position: absolute;
			width: 0;
			height: 4px;
			background-color: $gold;
			left: 0;
			bottom: -14px;
			opacity: 0;

			&.timeline--active {
				transition: width 1s linear;
			}
		}

		&:not(:first-child) {
			@include media(mobile) {
				margin-top: 19px;
			}
		}

		&.tab--active {
			opacity: 1;
			font-size: 22px;
			line-height: 18px;

			.home-video__tab-timeline {
				opacity: 1;
				// width: 100%;
				// transition: width 9s;
			}

			@include media(mobile) {
				color: $gold;
			}
		}
	}
	
	&__tabs {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;

		&-inner {
			&-left {
				@include media(mobile) {
					flex-basis: 0;
				}
			}

			&-right {
				margin-top: -30px;

				@include media(tablet-993) {
					margin-top: 30px;
				}

				@include media(mobile) {
					flex-basis: 100%;
					margin-top: 260px;
					align-items: center;
					justify-content: center;
				}

				@media screen and (max-height: 630px) {
					margin-top: 365px;
				}
			}
		}

		&-item {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			z-index: -1;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			opacity: 0;
			transition: 1s;

			.container {
				visibility: hidden;
				opacity: 0;
			}

			&.active {
				opacity: 1;

				.container {
					visibility: visible;
					opacity: 1;
				}


				video {
					visibility: visible;
					position: absolute;
					z-index: -1;
				}
			}

			video {
				visibility: hidden;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			&-text {
				position: absolute;
				font-family: $secondaryFont;
				font-weight: bold;
				font-size: 120px;
				margin-top: 5vh;
				color: rgba(26, 25, 25, 0.9);
				white-space: nowrap;

				@media screen and (max-height: 750px) {
					margin-top: 8%;
				}

				@include media(mobile) {
					font-size: 111px;
					line-height: 46px;
					text-align: left;
					width: 100%;
					position: static;
				}

				@include media(450) {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					max-width: 308px;
				}

				@include media(400) {
					font-size: 85px;
					max-width: 265px;
				}

				span {
					font-size: 33px;
					line-height: 24px;
					white-space: nowrap;

					@include media(450) {
						font-weight: normal;
						margin-top: 10px;
					}
				}
			}
		}
	}

	&__title {
		font-family: $secondaryFont;
		font-weight: bold;
		font-size: 66px;
		line-height: 66px;
		max-width: 768px;

		@include media(tablet-1200) {
			font-size: 60px;
			line-height: 60px;
		}

		@include media(mobile) {
			font-size: 45px;
			line-height: 46px;
			margin-top: 20px;
		}

		@include media(350) {
			font-size: 36px;
			line-height: 36px;
		}
	}

	&__tabs {
		&-control {
			position: relative;
			font-family: $secondaryFont;
			font-weight: bold;
			font-size: 18px;
			line-height: 18px;
			max-width: 738px;
			overflow: hidden;
			border-radius: 9px;
			-webkit-border-radius: 9px;
			margin-top: 25px;
			padding: 22px 0 6px;
			background: rgba(0, 0, 0, 0.32);
			

			@include media(mobile) {
				margin-top: 0;
				padding: 23px 0;
			}

			&::before {
				// content: "";
				position: absolute;
				width: calc(100% + 20px);
				height: calc(100% + 20px);
				background: rgba(0, 0, 0, 0.32);
				filter: blur(11px);
				left: -10px;
				top: -10px;
				right: -10px;
				bottom: -10px;
				z-index: -1;
				border-radius: 9px;
				-webkit-border-radius: 9px;
				pointer-events: none;
			}

			&-inner {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				padding: 0 27px 0 23px;
				color: #ffffff;
				flex-wrap: wrap;

				@include media(mobile) {
					flex-direction: column;
					align-items: flex-start;
					padding: 0 23px;
				}

				&-progress-bar {
					flex-basis: 100%;
					height: 4px;
					background-color: #fff;
					margin-top: 10px;

					@include media(mobile) {
						display: none;
					}
				}
			}
		}
	}

	&__anchor {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 20px;
	}
}
