.home-about {
	position: relative;
	display: flex;
	height: 900px;
	color: $dark;
	font-family: $secondaryFont;

	@include media(mobile) {
		flex-direction: column;
		height: auto;
	}

	&__left,
	&__right {
		flex-basis: 50%;
	}

	&__left {
		background-color: $dark;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__right {
		padding: 157px 0;
		position: relative;

		@include media(mobile) {
			padding: 64px 0 90px;
			overflow: hidden;
		}

		&-title {
			font-weight: bold;
			font-size: 66px;
			line-height: 66px;
			padding-left: 30px;

			@include media(mobile) {
				font-size: 45px;
				line-height: 66px;
			}

			@include media(370) {
				font-size: 40px;
				padding-left: 17px;
			}
		}

		&-numbers {
			padding-left: 35px;
			margin-top: 154px;

			@include media(mobile) {
				margin-top: 53px;
			}

			@include media(370) {
				padding-left: 17px;
			}
			&-item {
				font-size: 22px;
				line-height: 32px;
				font-weight: bold;
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				&:not(:first-child) {
					margin-top: 70px;
				}

				span {
					font-weight: 300;
					font-size: 16px;
					line-height: 32px;

					&:first-child {
						font-weight: 300;
						font-size: 44px;
						line-height: 32px;
						margin-left: 5px;
					}

					&:last-child {
						flex-basis: 100%;
					}
				}
			}
		}
	}

	&__bg {
		position: absolute;
		bottom: 162px;

		@include media(mobile) {
			bottom: 90px;
		}
	}
}
