.home-hero {
	height: auto;
	position: relative;
	margin-top: -102px;
	z-index: 2;

	@include media(tablet-993) {
		height: auto;
		padding-top: 135px;
		margin-top: -135px;
	}

	@include media(370) {
		height: auto;
	}

	&__container {
		height: 100%;
	}

	&__inner {
		height: 100%;
		padding-top: 50px;

		&-right {
			position: relative;
			flex-direction: column;
			border-left: 1px solid rgba(160, 171, 123, 0.12);
			padding-top: 146px;

			&::after {
				content: '';
				position: absolute;
				right: 19.2%;
				top: 0;
				width: 1px;
				height: 100%;
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}

			&::before {
				content: '';
				position: absolute;
				left: 42.5%;
				top: 0;
				width: 1px;
				height: 100%;
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}

			@include media(tablet-993) {
				padding-top: 105px;
			}

			@include media(tablet-993) {
				border-left: none;
			}

			@include media(mobile) {
				flex-basis: 100%;
				padding-left: 39px;
			}

			@include media(550) {
				padding-left: 13px;
			}
		}

		&-left {
			@include media(mobile) {
				flex-basis: 0;
				width: 0;
			}
		}
	}

	&__title {
		@include media(tablet-1200) {
			max-width: 700px;
		}
		@include media(tablet-993) {
			max-width: 500px;
		}

		@media screen and (max-height: 630px) {
			font-size: 28px;
		}
	}

	&__numbers {
		display: flex;
		font-family: $mainFont;
		margin-top: 96px;

		@include media(tablet-993) {
			margin-top: 60px;
		}

		@media screen and (max-height: 630px) {
			margin-top: 30px;
		}

		@include media(550) {
			flex-direction: column;
		}

		&-item {
			display: flex;
			flex-direction: column;

			&:first-child {
				margin-right: 200px;

				@include media(tablet-993) {
					margin-right: 100px;
				}

				@include media(mobile) {
					margin-right: 60px;
				}

				@include media(550) {
					margin-right: 0;
				}
			}

			&:not(:first-child) {
				@include media(550) {
					margin-top: 25px;
				}
			}

			span {
				font-size: 16px;
				line-height: 32px;
				max-width: 225px;

				@include media(370) {
					font-size: 14px;
					line-height: 28px;
				}

				&:first-child {
					font-weight: 300;
					font-size: 44px;
					line-height: 32px;

					@include media(370) {
						font-size: 40px;
					}
				}
			}
		}
	}

	&__bottom {
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		padding-bottom: 41px;
		padding-right: 39px;

		@include media(mobile) {
			align-items: center;
		}

		@include media(550) {
			padding-right: 17px;
		}

		&-left {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			font-weight: 500;
			font-size: 16px;
			line-height: 39px;
			opacity: 0.64;
			padding-top: 27px;

			@include media(mobile) {
				padding-top: 0;
			}

			span {
				white-space: nowrap;
				margin-right: 10px;
			}
		}

		&-button {
			position: relative;
			width: 71px;
			height: 71px;
			border-radius: 50%;
			background-color: $gold;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: 0.4s;

			&:hover {
				@media screen and (min-width: 1025px) {
					box-shadow: 0 0px 10px 10px $gold;
				}
			}

			&::after {
				content: "";
				position: absolute;
				left: -6px;
				top: -6px;
				bottom: -6px;
				right: -6px;
				width: 79px;
				height: 79px;
				border: 2px solid #9b8a60;
				border-radius: 50%;
				opacity: 0.32;
			}

			@include media(mobile) {
				width: 52px;
				height: 52px;
				&::after {
					width: 60px;
					height: 60px;
				}
				img {
					width: 19px;
				}
			}
		}
	}
	&__slide {
		position: relative;
		z-index: 4;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				0deg,
				rgba(26, 25, 25, 0.46),
				rgba(26, 25, 25, 0.46)
			);
			pointer-events: none;
		}


		video {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			object-fit: cover;
			height: 100%;
			width: 100%;
			z-index: -1;

			@include media(tablet-993) {
				display: none;
			}
		}
	}
}
