section.production-hero
	.dots-wrapper.production-hero__dots-wrapper 
		ul.dots.production-hero__dots
	.container.production-hero__container
		.inner.production-hero__inner
			.inner-left.production-hero__inner-left
			.inner-right.production-hero__inner-right
				.slider.production-hero__slider
					.slide.production-hero__slide
						h1.title.production-hero__title Оптический кабель
						img(src="images/production/bg1.png", alt="")
					.slide.production-hero__slide
						h1.title.title--big.production-hero__title Оптический кабель
						img(src="images/production/bg1.png", alt="")
					.slide.production-hero__slide
						h1.title.title--big.production-hero__title Оптический кабель
						img(src="images/production/bg1.png", alt="")
					.slide.production-hero__slide
						h1.title.title--big.production-hero__title Оптический кабель
						img(src="images/production/bg1.png", alt="")
					a(href="#").button.production-hero__button Смотреть всю продукцию
