.fullpage#fullpage 
	section.production-item.section#opticalCable
		.container.production-item__container
			.inner.production-item__inner
				.inner-left.production-item__inner-left
				.inner-right.production-item__inner-right
					h2.production-item__title Оптический кабель
					img(src="images/production/bg1.png", alt="")
					a(href="/kcep/build/products.html").button.production-item__button Смотреть всю продукцию
	section.production-item.section#copper
		.container.production-item__container
			.inner.production-item__inner
				.inner-left.production-item__inner-left
				.inner-right.production-item__inner-right
					h2.production-item__title Медножильный кабель
					img(src="images/production/bg2.png", alt="")
					a(href="/kcep/build/products.html").button.production-item__button Смотреть всю продукцию
	section.production-item.section.production-item--last#opticalCords
		.container.production-item__container
			.inner.production-item__inner
				.inner-left.production-item__inner-left
				.inner-right.production-item__inner-right
					h2.production-item__title Оптические шнуры
					img(src="images/production/bg3.png", alt="")
					a(href="/kcep/build/products.html").button.production-item__button Смотреть всю продукцию
	footer.footer.section.fp-auto-height
		.footer__wrapper 
			.footer__top
				address.footer__address Казахстан, г. Сарань, ул. Шахтерская, д. 30«А»
				a(href="mailto:info@kcep@kz").footer__mail info@kcep@kz
				a(href="tel:+77212912500").footer__phone +7(7212)912 500
				.footer__logo-wrapper
					a(href="/").logo
						img(src="img/logo.png", alt="KCEP")
			.footer__bottom
				a(href="/").footer__policy политикa конфиденциальности
				.footer__copyrights © 2021 KCEP; Developed by
					a(href="/").footer__copyrights-author bofer.ru
				.footer__social 
					a(href="https://instagram.com/") 
						img(src="./img/instagram.svg", alt="")
					a(href="https://linkedin.com/") 
						img(src="img/linkedin.svg", alt="")
					a(href="https://facebook.com/") 
						img(src="img/facebook.svg", alt="")
					a(href="https://youtube.com/") 
						img(src="img/youtube.svg", alt="")
		.footer-policy
			.footer-policy__dialog 
				button.footer-policy__close
					<svg class="about-popup__close-icon">
						<use xlink:href="img/sprite.svg#close"></use>
					</svg>
				.footer-policy__content
					h4.footer-policy__title Политикa конфиденциальности
					ol
						li Обучение внутри компании
							p Мы хотим, чтобы Вы всегда были в курсе последних изменений правил, законов, новых разработок продукции. Поэтому на заводе КСЕР организовано взаимное обучение между подразделениями. Кроме того, у нас есть готовые инструкции по работе со сложными программами, пользуясь которыми Вы легко научитесь тому, что на первый взгляд казалось сложным. В рамках завода мы можем помочь Вам освоить новую профессию и подняться на ступень выше.
						li Обучение вне компании
							p КСЕР понимает, что обучаться только внутри компании невозможно, поэтому мы нередко отправляем своих специалистов на обучение в другие компании или учреждения, а также приглашаем сотрудников обучающих учреждений проводить курсы на территории компании, чтобы обучить максимальное количество сотрудников. Мы прилагаем все усилия для того, чтобы обучение для наших сотрудников было бесплатным.
						li Премирование и индивидуальный социальный пакет
							p Компания ориентируется на европейский подход к работе. На предприятии действует система премирования на основе KPI. Кроме того, разработано несколько вариантов социальных пакетов для разных категорий должностей. Мы всячески приветствуем стремление сотрудников к совершенствованию, поэтому компания окажет Вам в том числе и финансовую поддержку, если Вы заходите пройти какое-либо обучение, самостоятельно определив обучающую организацию.
		