.production-hero {
	position: relative;
	height: 900px;
	background-color: $dark;
	margin-top: -102px;

	@include media(tablet-1200) {
		height: 800px;
	}

	@include media(tablet-993) {
		padding-top: 135px;
		margin-top: -135px;
	}

	@include media(mobile) {
		height: 550px;
	}

	@include media(400) {
		height: 525px;
	}

	&__container {
		padding-top: 102px;
		height: 100%;

		@include media(tablet-993) {
			padding-top: 0;
		}
	}

	&__title {
		margin-top: 93px;
		max-width: 500px;
		font-weight: bold;
		font-size: 75px;
		line-height: 77px;

		@include media(tablet-1200) {
			font-size: 55px;
			line-height: 56px;
			max-width: 400px;
		}

		@include media(mobile) {
			font-size: 40px;
			line-height: 45px;
			max-width: 300px;
			margin-top: 35px;
		}

		@include media(400) {
			font-size: 30px;
			line-height: 31px;
			max-width: 250px;
		}
	}

	&__inner {
		height: 100%;

		&-left {
			@include media(mobile) {
				flex-basis: 0;
			}
		}

		&-right {
			position: relative;

			@include media(mobile) {
				flex-basis: 95%;
			}
		}
	}

	&__slider {
		z-index: 10;

		@include media(mobile) {
			left: 35px;
		}

		@include media(550) {
			left: 15px;
		}
	}

	&__slide {
		position: absolute;
		height: 100%;
		z-index: 10;

		img {
			z-index: 1;
			margin-top: 47px;
			max-width: 630px;

			@include media(tablet-1200) {
				max-width: 500px;
			}

			@include media(mobile) {
				max-width: 350px;
			}
		}
	}

	&__button {
		position: relative;
		z-index: 30;
		margin-top: 498px;
		display: inline-block;

		@include media(tablet-1200) {
			margin-top: 450px;
		}

		@include media(mobile) {
			margin-top: 305px;
		}

		@include media(400) {
			margin-top: 280px;
		}
	}
}
