.contacts-time {
	background-color: $gold;

	&__inner {
		&-left {
			@include media(tablet-993) {
				flex-basis: 0;
			}
		}
		&-right {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 230px;
			font-family: $secondaryFont;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 1px;
				height: 100%;
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}

			&::after {
				content: '';
				position: absolute;
				right: 13%;
				top: 0;
				width: 1px;
				height: 100%;
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}

			@include media(tablet-993) {
				padding-left: 38px;
				flex-basis: 100%;
			}

			@include media(550) {
				padding-left: 17px;
			}
		}
	}

	&__current-time {
		font-size: 111px;
		line-height: 70px;
		margin-top: 15px;
	}

	&__text {
		font-family: $mainFont;
		font-size: 15px;
		line-height: 21px;
	}

	&__backdrop-time {
		position: absolute;
		left: 0;
		font-size: 300px;
		line-height: 100px;
		opacity: 0.04;
		top: 50%;
		transform: translateY(-35%);
		pointer-events: none;

		@include media(mobile) {
			font-size: 220px;
		}

		@include media(550) {
			display: none;
		}
	}
}
