.partners 
    .partners-select 
        .container.partners__container
            .inner-left.partners-select__left
                +button-prev("product-hero__button-prev")
            .inner-right.products__inner
                ul.partners-select__big
                    li.partners-select__big-item Партнеры
                ul.partners-select__small
                    li.tag.tag--selected.partners-select__small-item Показать все
                    li.tag.partners-select__small-item Клиенты
                    li.tag.partners-select__small-item Поставщики   
    .partners-all
        .container.products__container
            .inner-left.partners-all__left
            .inner-right.partners-all__inner
                ul.partners-all__list
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/1.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/2.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/3.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/4.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/5.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/6.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/7.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/8.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/1.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/2.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/3.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/4.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/5.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/6.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/7.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/8.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/1.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/2.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/3.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/4.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/5.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/6.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/7.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/8.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/1.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/2.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/3.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/4.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/5.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/6.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/7.png", alt="")
                    li.partners-all__list-item.partners-item
                        img.partners-item__img(src="img/partners/8.png", alt="")
