extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	include partials/about/hero
	include partials/about/content
	include partials/about/geography
	include partials/about/production
	include partials/about/popup