extends layouts/default

block vars
    -
        const title = 'Контакты';
        
block main
    include partials/contacts/hero
    include partials/contacts/time
    include partials/contacts/dealers