extends layouts/default

block vars
    -
        const title = 'KCEP';




block main
    section
        .container
            .event-content-text
                ul
                    li
                        a(href="start.html" target="_blank") Разводящая страница
                    li
                        a(href="home.html" target="_blank") Главная
                    li
                        a(href="404.html" target="_blank") 404
                    li
                        a(href="about.html" target="_blank") О компании
                    li
                        a(href="career.html" target="_blank") Карьера
                    li
                        a(href="certificates.html" target="_blank") Сертификаты
                    li
                        a(href="contacts.html" target="_blank") Контакты
                    li
                        a(href="event.html" target="_blank") Событие
                    li
                        a(href="events.html" target="_blank") События
                    li
                        a(href="knowledge.html" target="_blank") База знаний
                    li
                        a(href="partners.html" target="_blank") Партнеры
                    li
                        a(href="product.html" target="_blank") Продукт
                    li
                        a(href="products.html" target="_blank") Категория
                    li
                        a(href="production.html" target="_blank") Каталог