
extends layouts/default

block vars
	-
		const title = 'Продукт';




block main
	include partials/product/hero
	include partials/product/usage
	include partials/product/info
	include partials/product/others
	include partials/product/services