section.home-about
	.home-about__left
		img(src="images/home/about.gif", alt="")
	.home-about__right
		img.home-about__bg(src="images/home/logo.svg", alt="")
		h2.home-about__right-title Компания
		.home-about__right-numbers
			.home-about__right-numbers-item > 
				span 300 чел.
				span количество сотрудников
			.home-about__right-numbers-item > 
				span 2 000 000 км
				span переработано  оптического волокна 
			.home-about__right-numbers-item > 
				span 30 000 км
				span экспорт оптического кабеля  в Европу

