section.home-video
	.home-video__tabs
		.home-video__tabs-item.active
			img(src="images/home/home-gif1.gif", alt="")
			.container
				.inner.home-video__tabs-inner
					.inner-left.home-video__tabs-inner-left
					.inner-right.home-video__tabs-inner-right
						.home-video__tabs-item-text 45 000
							span км/г
		.home-video__tabs-item 
			img(src="images/home/hero-bg2.jpg", alt="")
		.home-video__tabs-item 
			img(src="images/home/home-gif1.gif", alt="")
	.container
		.inner.home-video__inner
			.inner-left.home-video__inner-left
			.inner-right.home-video__inner-right
				h3.home-video__title Производственные мощности:
				.home-video__tabs-control 
					.home-video__tabs-control-inner 
						span Оптический кабель
						span LAN кабель
						span Оптический шнур
						.home-video__tabs-control-inner-progress-bar
