section.product-hero 
	.container.product-hero__container
		.inner.product-hero__inner 
			.inner-left.product-hero__inner-left
				+button-prev("product-hero__button-prev")
			.inner-right.product-hero__inner-right
				h1.product-hero__title Кабель оптический гибкий с вынесенным <br> силовым элементом КС-FTTНSC
				.product-hero__slider 
					.product-hero__slider-wrapper
						.product-hero__slide.active
							img(src="images/item/item1.png", alt="")
						.product-hero__slide
							img(src="images/item/item2.png", alt="")
						.product-hero__slide
							img(src="images/item/item3.png", alt="")
					.product-hero__pagination 
						.product-hero__pagination-item.active
							img(src="images/item/item1.png", alt="")
						.product-hero__pagination-item 
							img(src="images/item/item2.png", alt="")
						.product-hero__pagination-item 
							img(src="images/item/item3.png", alt="")