section.product-info 
	.container 
		.inner.product-info__inner
			.inner-left.product-info__inner-left
			.inner-right.product-info__inner-right
				.product-info__tabs-control
					.product-info__tabs-control-item
						span Структура
					.product-info__tabs-control-item 
						span Характеристики
					.product-info__tabs-control-item 
						span Документы 
				.product-info__tabs 
					.product-info__tabs-item.product-info__tabs-item--structure
						img(src="images/item/item-info.png", alt="")
						.product-info__tabs-item-popup
							.product-info__tabs-item-point-wrapper
								.product-info__tabs-item-point
								.product-info__tabs-item-text Гибкое оптическое волокно
							.product-info__tabs-item-point-wrapper
								.product-info__tabs-item-point
								.product-info__tabs-item-text Гибкое оптическое волокно
							.product-info__tabs-item-point-wrapper
								.product-info__tabs-item-point
								.product-info__tabs-item-text Гибкое оптическое волокно
							.product-info__tabs-item-point-wrapper
								.product-info__tabs-item-point
								.product-info__tabs-item-text Гибкое оптическое волокно
					.product-info__tabs-item.product-info__tabs-item--characteristics
						h4.section-title Характеристики кабеля:
						.product-info__table 
							.product-info__table-head
								.product-info__table-head-left
									span Параметры
								.product-info__table-head-right
									span Значение
							.product-info__table-body
								.product-info__table-body-row
									.product-info__table-body-row-left
										span Параметры
									.product-info__table-body-row-right
										span 1 - 4
								.product-info__table-body-row
									.product-info__table-body-row-left
										span Макс. габаритные размеры сечения 2-x волокного кабеля, мм
									.product-info__table-body-row-right
										span 2,2 x 5,5

						h4.section-title Характеристики волокна:
						.product-info__table 
							.product-info__table-head
								.product-info__table-head-left
									span Параметры
								.product-info__table-head-right
									span Значение
							.product-info__table-body
								.product-info__table-body-row
									.product-info__table-body-row-left
										span Параметры
									.product-info__table-body-row-right
										span 1 - 4
					.product-info__tabs-item.product-info__tabs-item--documents
						a(href="#" target="_blank").product-info__docs-item 
							img(src="img/pdf.svg", alt="")
							span Кодификатор оптических кабелей «KCEP»
						a(href="#" target="_blank").product-info__docs-item 
							img(src="img/pdf.svg", alt="")
							span Протокол испытаний
						a(href="#" target="_blank").product-info__docs-item 
							img(src="img/pdf.svg", alt="")
							span Любое другое вложение