section.product-others 
	.container.product-others__container
		.inner.product-others__inner
			.inner-left.product-others__inner-left
			.inner-right.product-others__inner-right
				h4.section-title Вас также может заинтересовать:
				ul.cards.product-others__cards 
					li.card.product-others__card
						a(href="#")
							img(src="img/products/Rectangle 135.png", alt="")
							span.card-text.product-others__card-text Кабель оптический гибкий с вынесенным силовым элементом КС-FTTНSC 
					li.card.product-others__card
						a(href="#")
							img(src="img/products/Rectangle 135-1.png", alt="")
							span.card-text.product-others__card-text Кабель абонентский самонесущий OPCC
					li.card.product-others__card
						a(href="#")
							img(src="img/products/Rectangle 135.png", alt="")
							span.card-text.product-others__card-text Кабель оптический гибкий с вынесенным силовым элементом КС-FTTНSC
					li.card.product-others__card
						a(href="#")
							img(src="images/item/product4.png", alt="")
							span.card-text.product-others__card-text Кабель абонентский самонесущий OPCC