section.product-services 
	.container.product-services__container
		.inner 
			.inner-left.product-services__inner-left
			.inner-right.product-services__inner-right
				h4.section-title Сервисы:
				ul.cards.product-services__cards 
					li.card.product-services__card 
						a(href="#")
							img(src="img/product/calc.png", alt="") 
							h5.card-title.product-services__card-title Расчет намотки на тару
							span.card-text.product-services__card-text Подберите барабаны под длину и диаметр Вашего кабеля
					li.card.product-services__card 
						a(href="#")
							img(src="img/product/settings.png", alt="") 
							h5.card-title.product-services__card-title Конфигуратор кабеля
							span.card-text.product-services__card-text Подберите кабель по Вашим требованиям
					li.card.product-services__card 
						a(href="#")
							img(src="img/product/lastwagen.png", alt="") 
							h5.card-title.product-services__card-title Расчет </br> загрузки авто
							span.card-text.product-services__card-text Подбор транспорта и расчет его загрузки
					li.card.product-services__card 
						a(href="#")
							img(src="img/product/translate.png", alt="") 
							h5.card-title.product-services__card-title Переводчик маркировок
							span.card-text.product-services__card-text Подберите аналог кабеля любого производителя среди продукции KCEP