section.product-usage 
	.container 
		.inner.product-usage__inner
			.inner-left.product-usage__inner-left
			.inner-right.product-usage__inner-right
				h2.section-title.product-usage__section-title Применение:
				p.product-usage__text Воздушная прокладка по опорам и по стенам зданий. Рекомендуется использовать для отвода от столба в дом, как для прокладки в помещениях (без несущего элемента), так и в уличных условиях.
				ol 
					li Номер один
					li Номер два
					li Номер три
				.product-usage__info
					.product-usage__info-item 
						.product-usage__info-item-img 
							img(src="img/mouse.png", alt="")
						span С защитой против грызунов
					.product-usage__info-item 
						.product-usage__info-item-img 
							img(src="img/suspension.png", alt="")
						span Для подвеса
					.product-usage__info-item 
						.product-usage__info-item-img 
							img(src="img/wind.png", alt="")
						span Для задувки
