header.header-404
	a.logo(href="/")
		img(src="img/logo.png", alt="")
section.body-404
	img(src="images/start/404.svg", alt="").body-404__bg
	h1.body-404__title 404
	h2.body-404__subtitle Мы действительно везде искали, но увы не чего не нашли
	a(href="/").body-404__button.button На главную 