footer.footer
	.footer__wrapper 
		.footer__top
			address.footer__address Казахстан, г. Сарань, ул. Шахтерская, д. 30«А»
			a(href="mailto:info@kcep@kz").footer__mail info@kcep@kz
			a(href="tel:+77212912500").footer__phone +7(7212)912 500
			.footer__logo-wrapper
				a(href="/").logo
					img(src="img/logo.png", alt="KCEP")
		.footer__bottom
			a(href="/").footer__policy политикa конфиденциальности
			.footer__copyrights © 2021 KCEP; Developed by
				a(href="/").footer__copyrights-author bofer.ru
			.footer__social 
				a(href="https://instagram.com/") 
					img(src="./img/instagram.svg", alt="")
				a(href="https://linkedin.com/") 
					img(src="img/linkedin.svg", alt="")
				a(href="https://facebook.com/") 
					img(src="img/facebook.svg", alt="")
				a(href="https://youtube.com/") 
					img(src="img/youtube.svg", alt="")

	