header.header
	.container.header__container
		.header__bg
		.inner.header__inner
			.inner-left.header__inner-left
				a.logo(href="/kcep/build/home.html")
					img(src="img/logo.png", alt="KCEP") 
			.inner-right.header__inner-right
				nav.header__nav.active
					ul.header__nav-list 
						li.header__nav-list-item
							a(href="/kcep/build/production.html") Продукция 
							ul.header__nav-list-sub-menu 
								li 
									a(href="/kcep/build/production.html#opticalCable") Оптический кабель	
								li 
									a(href="/kcep/build/production.html#copper") Медножильный кабель
								li 
									a(href="/kcep/build/production.html#opticalCords") Оптические шнуры
						li.header__nav-list-item
							a(href="#") Сервисы
						li.header__nav-list-item
							a(href="/kcep/build/partners.html") Партнеры
						li.header__nav-list-item
							a(href="/kcep/build/events.html") События
						li.header__nav-list-item
							a(href="/kcep/build/knowledge.html") База знаний
						li.header__nav-list-item
							a(href="/kcep/build/about.html") О компании
						li.header__nav-list-item
							a(href="/kcep/build/contacts.html") Контакты
				a(href="/").header__dropdown RUS
					img(src="img/arrow.svg", alt="")
				.sh-burger
					span