header.header
	.container.header__container
		.header__bg
		.inner.header__inner
			.inner-left.header__inner-left
				a.logo(href="/")
					img(src="img/logo.png", alt="KCEP") 
			.inner-right.header__inner-right
				nav.header__nav.active
					ul.header__nav-list 
						li.header__nav-list-item
							a(href="#") Продукция 
							ul.header__nav-list-sub-menu 
								li 
									a(href="#") Оптический кабель	
								li 
									a(href="#") Медножильный кабель
								li 
									a(href="#") Оптические шнуры
						li.header__nav-list-item
							a(href="#") Сервисы
						li.header__nav-list-item
							a(href="#") Партнеры
						li.header__nav-list-item
							a(href="#") События
						li.header__nav-list-item
							a(href="#") База знаний
						li.header__nav-list-item
							a(href="#") О компании
						li.header__nav-list-item
							a(href="#") Контакты
				a(href="/").header__dropdown RUS
					img(src="img/arrow.svg", alt="")
				.sh-burger
					span