.img-popup#imgPopup
	.img-popup__dialog
		img(src="#", alt="")
		+button-prev("img-popup__button-prev")
		p
		button.img-popup__close
			<svg class="about-popup__close-icon">
				<use xlink:href="img/sprite.svg#close"></use>
			</svg>