header.start-header 
	a(href="#").logo.start-header__logo
		img(src="img/logo.png", alt="")
section.start-body 
	.start-body__left.start-body__inner
		h1.start-body__title Кабельная продукция
		a(href="#").button.start-body__button Перейти на сайт
		.start-body__bg.start-body__left-bg 
			img(src="images/start/start-bg1.png", alt="")
	.start-body__right.start-body__inner
		h2.start-body__title Железнодорожная продукция
		a(href="#").button.start-body__button Перейти на сайт
		.start-body__bg.start-body__right-bg 
			img(src="images/start/start-bg2.png", alt="")
