
.career-hero
    .container.inner.career-hero__inner
        .inner-left.career-hero__left
            +button-prev("product-hero__button-prev")
        .inner-right.career-hero__right
            h1.career-hero__title Карьера
            p.career-hero__text Компания КСЕР рада приветствовать в своей команде ответственных и целеустремленных специалистов.
            p.career-hero__text Мы развиваемся и растем вместе с вами. Сотрудники, работая и совершенствуясь в компании, создают свое новое будущее. Продвижение по карьерной лестнице, повышение профессиональных навыков и уровня дохода – это лишь малая часть достижений, которые возможны у нас. 
            p.career-hero__text КСЕР поддерживает своих сотрудников и предлагает большие возможности для каждого. Став частью нашей компании Вам станет доступно: 
.container 
    .career-info.inner
        .inner-left.career-info__left
        .inner-right.career-info__right 
            h3.career-info__title 1. Обучение внутри компании
            p.career-info__text Мы хотим, чтобы Вы всегда были в курсе последних изменений правил, законов, новых разработок продукции. Поэтому на заводе КСЕР организовано взаимное обучение между подразделениями. Кроме того, у нас есть готовые инструкции по работе со сложными программами, пользуясь которыми Вы легко научитесь тому, что на первый взгляд казалось сложным. В рамках завода мы можем помочь Вам освоить новую профессию и подняться на ступень выше.
            h3.career-info__title 2. Обучение вне компании
            p.career-info__text  КСЕР понимает, что обучаться только внутри компании невозможно, поэтому мы нередко отправляем своих специалистов на обучение в другие компании или учреждения, а также приглашаем сотрудников обучающих учреждений проводить курсы на территории компании, чтобы обучить максимальное количество сотрудников. Мы прилагаем все усилия для того, чтобы обучение для наших сотрудников было бесплатным.
            h3.career-info__title 3. Премирование и индивидуальный социальный пакет
            p.career-info__text Компания ориентируется на европейский подход к работе. На предприятии действует система премирования на основе KPI. Кроме того, разработано несколько вариантов социальных пакетов для разных категорий должностей. Мы всячески приветствуем стремление сотрудников к совершенствованию, поэтому компания окажет Вам в том числе и финансовую поддержку, если Вы заходите пройти какое-либо обучение, самостоятельно определив обучающую организацию.
            .career-info__more.career-more 
                .career-more__item 
                    img.career-more__img(src="img/career/1.png", alt="")
                    .career-more__text Внешние курсы по профилю 
                .career-more__item
                    img.career-more__img(src="img/career/2.png", alt="")
                    .career-more__text Корпоративный автобус 
                .career-more__item
                    img.career-more__img(src="img/career/3.png", alt="")
                    .career-more__text Литература по профилю работы
                .career-more__item
                    img.career-more__img(src="img/career/4.png", alt="")
                    .career-more__text Дополнительные дни отпуска  
                .career-more__item
                    img.career-more__img(src="img/career/5.png", alt="")
                    .career-more__text Мобильная связь
                .career-more__item
                    img.career-more__img(src="img/career/6.png", alt="")
                    .career-more__text Оплата ГСМ
                .career-more__item
                    img.career-more__img(src="img/career/7.png", alt="")
                    .career-more__text Материальная помощь
                .career-more__item
                    img.career-more__img(src="img/career/8.png", alt="")
                    .career-more__text Внутреннее обучение
.career-hh
    .container.inner
        .inner-left.career-hh__left
        .inner-right.career-hh__right
            img.career-hh__img(src="img/career/hh.png", alt="")
            h2.career-hh__title Посмотреть список открытых вакансий вы можете на нашей странице на сайте HeadHunter
            a(href="#").button.career-hh__btn Перейти к списку вакансий
