.events 
    .events-select 
        .container.events__container
            .inner-left
            .inner-right.products__inner
                ul.events-select__big
                    li.events-select__big-item События      
    .events-all
        .container.products__container
            .inner-left
            .inner-right.events-all__inner
                ul.events-all__list
                    li.events-all__list-item.events-item
                        a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/1.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/2.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/3.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/4.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/1.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/2.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/3.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                       a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/4.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/1.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/2.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/3.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        a.events-item__link(href="#") 
                            img.events-item__img(src="img/events/4.png", alt="")
                            .events-item__text(href="#") KCEP на международной выставке «Проволока Россия 2019»