.events 
    .events-select 
        .container.events__container
            .inner-left
                a.events__back(href="#") 
                    .events__back-arrow
                        img.events__back-img(src="img/arrow_back.svg", alt="")
                    |назад
            .inner-right.products__inner
                ul.events-select__big
                    li.events-select__big-item Партнеры
                ul.events-select__small
                    li.events-select__small-item.events-select__small-item--select Показать все
                    li.events-select__small-item Клиенты
                    li.events-select__small-item Поставщики         
    .events-all
        .container.products__container
            .inner-left
            .inner-right.events-all__inner
                ul.events-all__list
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/1.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/2.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/3.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/4.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/1.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/2.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/3.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/4.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/1.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/2.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/3.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»
                    li.events-all__list-item.events-item
                        img.events-item__img(src="img/events/4.png", alt="")
                        a.events-item__link(href="#") KCEP на международной выставке «Проволока Россия 2019»