.calc{
  background: $light;
  &__top{
    padding-top: 102px;
    padding-bottom: 22px;
    background: #1a1919;
    display: flex;

    @include media(tablet-993) {
      padding-top: 135px;
    }
    .title {
      font-weight: bold;
      font-size: 27px;
      line-height: 1.2;
      min-height: 70px;
      display: inline-flex;
      align-items: center;
    }
    .inner-left {
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 39px;
      padding-top: 12px;

      @include media(tablet-993) {
        display: none;
      }

      @include media(mobile) {
        display: none;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 183px;

    @include media(tablet-993) {
      flex-basis: 100%;
      padding-left: 37px;
    }

    @include media(550) {
      padding-left: 17px;
    }
  }

  &__filter {
    display: flex;
    margin-top: 19px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include media(tablet-993) {
      flex-wrap: wrap;
    }
  }

  &__sizes{
    display: flex;
    align-items: center;
    @include media(tablet-993) {
      flex-wrap: wrap;
    }
  }
  &__size{
    span{
      padding: 10px 19px;
      background: #262525;
      border-radius: 1000px;
      color: $white;
      margin-right: 8px;
      margin-bottom: 11px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      cursor: pointer;
      transition: 0.4s;
      user-select: none;
      display: block;
      white-space: nowrap;
      &:hover {
        @media screen and (min-width: 1025px) {
          background-color: $gold;
        }
      }
    }
    input{
      display: none;
      position: absolute;
      &:checked + span{
        background: $gold;
      }
    }
  }
  &__custom{
    display: flex;
    margin-bottom: 11px;
    pointer-events: none;
    opacity: 0;
    &.active{
      pointer-events: auto;
      opacity: 1;
    };
    @include media(tablet-993) {
      width: 100%;
      margin-bottom: 0;
      flex-wrap: wrap;
    }
    &-input{
      position: relative;
      max-width: 200px;
      flex-grow: 1;
      min-width: 150px;
      margin-left: 16px;
      font-size: 12px;
      line-height: 1.75;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      @include media(tablet-993) {
        margin-top: 15px;
      }
      input{
        width: 100%;
        border-bottom: #646363 1px solid;
        height: 30px;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 1.75;
      }
      span{
        position: absolute;
        left: 0;
        top: 45%;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.32);
        pointer-events: none;
      }
      &--width{
        input{
          padding-left: 94px;
        }
      }
      &--height{
        input{
          padding-left: 86px;
        }
      }
    }
    &.hide{
      display: none !important;
    }
  }


  &__container {
    display: flex;
    position: relative;
    z-index: 1;
    @include media(tablet-993) {
      padding: 0;
      max-width: 100%;
    }
  }

  &__body{
    .inner-left{
      position: relative;
      @include media(tablet-993) {
        display: none;
      }
    }
    .inner-right{
      position: relative;
      padding-top: 80px;
      @include media(tablet-993) {
        flex-basis: 100%;
        padding-top: 0;
      }
    }
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 0 0 0 12px;
    padding: 32px;
    margin-bottom: 55px;
    width: 100%;
    @include media(tablet-906){
      display: block;
      margin-bottom: 0;
    }
  }
  &__left{
    width: calc(100% - 275px - 39px);
    display: flex;
    flex-direction: column;
    @include media(tablet-906){
      width: 100%;
    }
  }
  &__right{
    width: 275px;
    flex-shrink: 0;
    @include media(tablet-906){
      width: 100%;
      margin-top: 74px;
    }
  }

  &__buttons{
    display: flex;
    @include media(tablet-906){
      display: block;
      order: 1;
    }
    button{
      flex-grow: 1;
      +button{
        margin-left: 8px;
        @include media(tablet-906){
          margin-left: 0;
          display: block;
          margin-top: 19px;
        }
      }
    }
  }
  &__info{
    font-size: 14px;
    line-height: 1.5;
    color: #1A1919;
    margin-top: 16px;
    @include media(tablet-906){
      margin-top: 0;
      margin-bottom: 24px;
      order: 0;
    }
    &-title{
      font-weight: bold;
    }
    &-text{
      margin-top: 8px;
    }
  }
  &__reels{
    @include media(tablet-906){
      order: 2;
      margin-top: 19px;
    }
  }
}



.car{
  &__head{
    width: 100%;
    display: flex;
    justify-content: center;
    img{
      display: block;
    }
  }
  &__body{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__content{
    position: relative;
    background: #F2F2F2;
    z-index: 2;
    &::before{
      z-index: -1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: "";
      border: 3px solid #F2F2F2;
      position: absolute;
      left: -3px;
      top: -3px;
      box-sizing: content-box;
    }
    &-info{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    &-reels{
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}


.car-info{
  &__value{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;

    color: #1A1919;

    &--height{
      left: -60px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
    }

    &--width {
      bottom: -55px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--load {
      right: -60px;
      top: 0;
      transform: rotate(-90deg) translateX(30%);
    }
  }
  &__line{
    position: absolute;

    &--height{
      &-top {
        top: 0;
        left: -32px;
        border: solid #9B8A60;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(-135deg);
      }
      &-bottom {
        bottom: 0;
        left: -32px;
        border: solid #9B8A60;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
      }
      &-left {
        height: 100%;
        width: 1px;
        top: 0;
        left: -30px;
        background-color: #9B8A60;
      }
    }

    &--width {
      &-right {
        right: 0;
        bottom: -32px;
        border: solid #9B8A60;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(-45deg);
      }
      &-left {
        left: 0;
        bottom: -32px;
        border: solid #9B8A60;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(135deg);
      }
      &-bottom {
        width: 100%;
        height: 1px;
        left: 0;
        right: 0;
        bottom: -30px;
        background-color: #9B8A60;
      }
    }

    &--load {
      &-top {
        top: 0;
        right: -32px;
        border: solid #9B8A60;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(-135deg);
      }
      &-bottom {
        top: 52px;
        right: -32px;
        border: solid #9B8A60;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
      }
      &-right {
        height: 50px;
        top: 0;
        width: 1px;
        right: -30px;
        background-color: #9B8A60;
      }
    }
  }
}

.reels{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -2px;
  margin-right: -2px;
  @include media(tablet-906){
   padding: 20px;
    background: $gold;
    margin-left: 0;
    margin-right: 0;
    display: none;
  }
  &__btn{
    display: none;
    text-align: left;
    width: 100%;
    position: relative;
    &::after{
      content: "";
      display: block;
      width: 16px;
      height: 22px;
      background: url("../images/calc/arrow.png") center center no-repeat;
      filter: brightness(100);
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%) scaleY(-1);
    }
    &.active{
      &::after{
        transform: translateY(-50%) scaleY(1);
      }
      +.reels{
        display: flex;
      }
    }
    @include media(tablet-906){
      display: block;
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 4px);
    margin: 2px;
    padding: 16px 16px 20px;
    transition: background-color 0.3s;
    background: #FFFFFF;
    @include media(tablet-906){
      width: calc(100% - 4px);
    }
    &:hover{
      background: #F2F2F2;
    }
    &.disabled{
      &:not(.insert){
        pointer-events: none;
        opacity: 0.32;
      }
      &.insert {
        .reels__item-btn--plus{
          pointer-events: none;
          opacity: 0.32;
        }
      }
    }
    &:not(.insert){
      .reels__item-btn--minus{
        pointer-events: none;
        opacity: 0.32;
      }
    }
    &-top{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      min-height: 70px;
    }
    &-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      img{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    &-max{
      font-weight: 500;
      font-size: 16px;
      line-height: 39px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #9B8A60;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      padding: 10px 22px;
      background: #FBFBFB;
      &:hover{
        background: #9B8A60;
        color: #FFFFFF;
      }
    }
    &-bottom{
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 2px solid #ACACAC;
      position: relative;
    }
    &-error{
      font-weight: 500;
      font-size: 11px;
      line-height: 1.9;
      display: block;
      color: #EE0606;
      position: absolute;
      left: 0;
      top: 100%;
      display: none;
    }
    &-title{
      font-weight: bold;
      font-size: 14px;
      line-height: 1.5;
      color: #1A1919;
    }
    &-count{
      font-size: 14px;
      line-height: 1.5;
      display: flex;
      align-items: center;
      color: rgba(26, 25, 25, 0.32);
      span{
        margin-left: 0.1em;
        color: #1A1919;
        font-size: 14px;
        line-height: 1.5;
      }
      input{
        margin-left: 0.3em;
        color: #1A1919;
        border: none;
        padding: 0;
        font-size: 14px;
        line-height: 1.5;
      }
      input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
    &-btns{
      display: flex;
      margin-right: 9px;
    }
    &-btn{
      border: none;
      cursor: pointer;
      display: block;
      width: 16px;
      height: 22px;
      background: url("../images/calc/arrow.png") center center no-repeat;
      padding: 8px 10px;
      box-sizing: content-box;
      &:disabled{
        pointer-events: none;
        opacity: 0.32;
      }
      &--plus{}
      &--minus{
        margin-left: 7px;
        transform: scaleY(-1);
      }
    }
  }
}

.truck-info{
  margin-top: 130px;
  &__load{
    &-percent{
      font-weight: bold;
      font-size: 27px;
      line-height: 0.78;
      display: flex;
      align-items: center;
      color: #1A1919;
    }
    &-text{
      font-size: 14px;
      line-height: 1.5;
      display: flex;
      align-items: center;
      color: rgba(26, 25, 25, 0.32);
      margin-top: 1px;
    }
  }
  &__content{
    margin-top: 32px;
  }
  &__item{
    +.truck-info__item{
      margin-top: 16px;
    }
  }
}


.namot-content {
  padding-bottom: 150px;

  @include media(tablet-993) {
    padding-bottom: 90px;
  }

  @include media(mobile) {
    padding-bottom: 0;
    .container{
      max-width: 100%;
    }
    .knowledge-content__inner-right{
      padding: 0;
    }
  }
}

.namot{
  background: #FFFFFF;
  border-radius: 0 0 0 12px;
  padding: 32px 35px 40px;
  margin-top: 80px;
  color: #1A1919;
  position: relative;
  z-index: 3;
  @include media(tablet-993) {
    margin-top: 30px;
  }
  @include media(mobile) {
    margin-top: 0;
    padding: 30px 20px;
  }
  &__title{
    font-weight: bold;
    font-size: 27px;
    display: flex;
    align-items: center;
    line-height: 1;
  }
  &__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
  }
  &__flex{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    @include media(tablet-906){
      display: block;
    }
  }
  &__left{
    max-width: calc(100% - 350px);
    width: 365px;
    @include media(tablet-906){
      max-width: 100%;
      width: 100%;
    }
  }
  &__right{
    width: 330px;
    @include media(tablet-906){
      width: 100%;
      margin-top: 50px;
    }
  }
  &__form{
    margin-top: 45px;
    max-width: 297px;
    @include media(mobile) {
      max-width: 100%;
    }
  }
  &__input{
    +.namot__input{
      margin-top: 16px;
    }
    &-title{
      font-weight: bold;
      font-size: 14px;
      line-height: 1.5;
      color: #1A1919;
    }
    label{
      position: relative;
      input,select{
        background: none;
        border: none;
        border-bottom: 2px solid #EFECE6;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.5;
        color: #1A1919;
        width: 100%;
        padding: 0;
        height: 28px;
        box-sizing: border-box;
        font-family: Ubuntu,sans-serif;
      }
      span{
        pointer-events: none;
      }

      input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }

      select {
        -moz-appearance:none;
        -webkit-appearance:none;
        appearance:none;
        background: url(../images/calc/arrow2.png) center right 30px no-repeat;
      }
    }
  }
  &__button{
    margin-top: 32px;
    width: 100%;
  }
  .reels__item-btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%)  scaleY(-1);
    &--minus{
      right: 50px;
      transform: translateY(-50%);
    }
  }


  &__resuts{
    min-height: 44px;
  }
  &__result{
    font-size: 14px;
    line-height: 1.5;
    + .namot__result{
      margin-top: 15px;
    }
    &-row{
      display: flex;
      > *:nth-child(1){
        width: 240px;
      }
    }
    h6{
      font-weight: bold;
    }
    span{
      margin-top: 1px;
      font-weight: 300;
      display: flex;
      align-items: center;
      color: #B7B7B7;
    }
  }
  &__img{
    margin-top: 64px;
    position: relative;
    width: 314px;
    max-width: 100%;
    @include media(mobile) {
      margin-left: auto;
      margin-right: auto;
    }
    &-size{
      position: absolute;
      font-weight: bold;
      &--width{
        left: 50%;
        top: -28px;
        transform: translateX(-50%);
      }
      &--height{
        left: -28px;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }
}

.invalid-feedback{
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  color: #EE0606;
  pointer-events: none;
  user-select: none;
  opacity: 0;
}
.is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
  opacity: 1;
}

.was-validated input:invalid, .was-validated select:invalid {
  border-color: #EE0606;
}

.was-validated input:valid, .was-validated select:valid {
  border-color: #59A541;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAACJfM0wAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGZSURBVHgBrZRdTsJAEMdnGiLRpx4Bb1BO4OIJ5EFjiwlwAvEEwgnEEwAJH/UJb0A5AdzAHoE3AiQdZ0qWFCwWaP9pux8z++/2l50iZKjnkSpAAFUwoJeDDIWEHW4UBcTeGckZ3DeBQHHXhzX0EDKQM1AWAc7CAYIaOZNpahTClQjHvFu+qOk63lTmU6MwAuOdHQvcnbsVr7WbhxQSrrzLGnd9WlM5GruYsSDAAH/CAVFt9OL1ovGcPSyFweWKit91b3GyKeEk9BSuB6YiQ6ALo+s8szpREa5+lOteDrMpMY8Ff07jqa8aSaY25whXWSNrj+WhTgbED5Bkg4qu7flxyUlc93YsD05ocz22uWvywvFDR5mHiTKnubJp+z/TnbEovwJh5fNtxfG+ucKm5sqmb5CgnXGXTwQClTVve6iqOrblCq9JXKP6c44PeYdvD3DGxmYA1PiqeJ9wgmILxO6XuhyRHc+5NUMEW66JCLRiSzq/ITl2Pt+W5rrcQAvO0NGSll8hhyeCgLneuvX4I3iRHjvK4pK/gwv0C2jBvaPHRlZ7AAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: right 5px center;
}