.button {
	font-weight: 500;
	font-size: 16px;
	line-height: 39px;
	padding: 10px 22px;
	background-color: $gold;
	transition: 0.4s;
	color: #ffffff !important;
	text-decoration: none !important;
	font-style: normal !important;
	white-space: nowrap;

	&--big {
		text-transform: uppercase;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	&::after {
		display: none;
	}

	@media screen and (max-width: 767px) {
		font-size: 14px;
		line-height: 25px;
	}

	&:hover {
		@media screen and (min-width: 1025px) {
			background-color: #847348;
		}
	}

	&-prev {
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #f0f0ed;
		transition: 0.3s;
		font-family: $secondaryFont;

		&:hover {
			@media screen and (min-width: 1025px) {
				color: $gold;

				svg {
					fill: $gold;
				}
			}
		}

		&-img {
			border: 1px solid rgba(255, 255, 255, 0.13);
			width: 55px;
			height: 55px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
		}

		span {
			margin-left: 8px;
			font-size: 15px;
			line-height: 18px;
			color: inherit;
		}

		&:visited {
			color: inherit;
		}

		&__icon {
			&-arrow-prev {
				fill: #ffffff;
				width: 22px;
				height: 15px;
				transition: 0.3s;
			}
		}
	}
}

.tag {
	padding: 10px 19px;
	background: #262525;
	border-radius: 1000px;
	color: $white;
	margin-right: 8px;
	margin-bottom: 11px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
	transition: 0.4s;

	&--selected {
		background: $gold;
	}

	&:hover {
		@media screen and (min-width: 1025px) {
			background-color: $gold;
		}
	}
}

.img-popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	background-color: #000000;
	z-index: 9999;
	transition: 0.4s;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&__button-prev {
		position: absolute;
		top: 0;
		left: -30%;

		@include media(tablet-1200) {
			left: -140px;
		}

		@include media(tablet-993) {
			left: 0;
			top: -44px;
			width: 35px;
			height: 35px;

			.button-prev-img {
				width: 35px;
				height: 35px;
				flex-shrink: 0;

				svg {
					width: 19px;
					height: 12px;
				}
			}
		}
	}

	&__close {
		position: absolute;
		top: 0;
		right: -75px;
		cursor: pointer;
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, 0.16);
		width: 55px;
		height: 55px;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media(tablet-993) {
			right: 0;
			top: -45px;
			width: 35px;
			height: 35px;
		}

		svg {
			width: 29px;
			height: 29px;
			fill: #fff;
			transition: 0.3s;

			@include media(550) {
				width: 21px;
				height: 21px;
			}
		}

		&:hover {
			svg {
				@media screen and (min-width: 1025px) {
					fill: $gold;
				}
			}
		}
	}

	&--transparent {
		@media screen and (max-height: 500px) {
			padding-bottom: 30px;
			padding-top: 30px;
			align-items: flex-end;
		}

		.button-prev {
			display: none;
		}
		.img-popup__close {
			right: 0;
			top: 0;

			@include media(tablet-993) {
				top: -55px;
				right: 0;
			}

			@media screen and (max-height: 500px) {
				right: -35px;
				top: -35px;
			}
		}
		.img-popup__dialog {
			background-color: transparent;
			width: calc(100% - 90px);
			height: calc(100% - 90px);
			padding: 60px;
			display: flex;
			align-items: center;
			
			@include media(tablet-993) {
				padding: 0;
				width: calc(100% - 30px * 2);
				height: calc(100% - 150px);
			}

			@media screen and (max-height: 500px) {
				width: calc(100% - 100px * 2);
				height: calc(100% - 15px);
			}

			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
				max-height: 100%;

			}
	
			&::after {
				display: none;
			}
		}
	}

	&__dialog {
		position: relative;
		width: 50%;
		height: auto;
		padding: 25px 38px;
		border-radius: 0 0 0 12px;
		color: $dark;
		background-color: #fff;

		@include media(tablet-993) {
			width: 55%;
		}

		@include media(mobile) {
			width: 73%;
		}
		@include media(576) {
			width: 90%;
		}


		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: url("../img/certificates/overlay.svg") no-repeat
				center;
		}

		p {
			margin-top: 18px;
			font-weight: bold;
			font-size: 15px;
			line-height: 21px;
			padding-left: 13px;
		}

		img {
			width: 100%;
			height: 90%;
			max-height: 800px;
			object-fit: contain;
		}
	}
}

.sticky-bg {
	position: fixed;
	background: url("../img/products/logo.png");
	background-repeat: no-repeat;
	width: 1162px;
	height: 256px;
	left: 50%;
	transform: translateX(-39%);
	z-index: 0;

	@include media(1500) {
		left: 50%;
		transform: translateX(-45.6%);
	}

	@include media(1441) {
		left: 49.7%;
		transform: translateX(-43.4%);
	}

	@include media(tablet-993) {
		display: none;
	}

	&--margin {
		margin-top: 32px;
	}
}