.button {
	font-weight: 500;
	font-size: 16px;
	line-height: 39px;
	padding: 10px 22px;
	background-color: $gold;
	transition: 0.4s;

	@media screen and (max-width: 767px) {
		font-size: 14px;
		line-height: 25px;
	}

	&:hover {
		@media screen and (min-width: 1025px) {
			background-color: #847348;
		}
	}

	&-prev {
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #f0f0ed;
		transition: 0.3s;
		font-family: $secondaryFont;

		&:hover {
			@media screen and (min-width: 1025px) {
				color: $gold;

				svg {
					fill: $gold;
				}
			}
		}

		&-img {
			border: 1px solid rgba(255, 255, 255, 0.13);
			width: 55px;
			height: 55px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
		}

		span {
			margin-left: 8px;
			font-size: 15px;
			line-height: 18px;
			color: inherit;
		}

		&:visited {
			color: inherit;
		}

		&__icon {
			&-arrow-prev {
				fill: #ffffff;
				width: 22px;
				height: 15px;
				transition: 0.3s;
			}
		}
	}
}
