.footer {
	background-color: $dark;
	color: $white;
	font-family: $secondaryFont;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;

	.footer__wrapper {
		@include media(340) {
			height: 100vh !important;
			padding: 140px 30px 43px;
		}
	}

	&__wrapper {
		max-width: 1206px;
		margin-right: 9.5vw;
		margin-left: 6.73vw;
		padding: 66px 0 120px;

		@include media(tablet-993) {
			margin: 0 auto;
		}

		@media screen and (min-width: 1500px) {
			margin: 0 auto;
		}

		@media screen and (max-width: 1350px) {
			margin: 0 auto;
			padding: 62px 30px 43px;
		}

		@media screen and (max-width: 550px) {
			max-width: calc(100% - 15px * 2);
		}
	}

	&__top,
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media(mobile) {
			flex-direction: column-reverse;
		}
	}

	&__bottom {
		margin-top: 50px;

		@include media(mobile) {
			margin-top: 37px;
		}
	}

	&__top {
		@include media(tablet-993) {
			flex-wrap: wrap-reverse;
			align-items: flex-start;
		}

		@include media(mobile) {
			align-items: center;
		}
	}

	&__logo {
		&-wrapper {
			@include media(tablet-993) {
				display: flex;
				justify-content: center;
				flex-basis: 100%;
			}
		}
	}

	&__social {
		display: flex;

		@include media(mobile) {
			margin-top: 32px;
		}

		a {
			&:not(:last-child) {
				margin-right: 16px;
			}
		}

		img {
			transition: 0.3s;
			&:hover {
				@media screen and (min-width: 1025px) {
					transform: scale(1.2);
				}
			}
		}
	}

	&__address {
		letter-spacing: -0.015em;

		@include media(tablet-993) {
			margin-top: 53px;
		}

		@include media(mobile) {
			margin-top: 19px;
			max-width: 185px;
			text-align: center;
		}
	}

	&__mail {
		position: relative;
		display: inline-block;
		letter-spacing: 0.02em;

		@include media(mobile) {
			margin-top: 4px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 5px;
			left: 0;
			right: 0;
			width: 0;
			height: 1px;
			background-color: #fff;
			transition: 0.5s;
			opacity: 0;
		}

		&:hover {
			@media screen and (min-width: 1025px) {
				&::after {
					width: 100%;
					opacity: 1;
				}
			}
		}
	}

	&__phone {
		position: relative;
		display: inline-block;
		letter-spacing: 0.07em;
		font-size: 18px;
		font-weight: bold;

		@include media(mobile) {
			margin-top: 53px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 5px;
			left: 0;
			right: 0;
			width: 0;
			opacity: 0;
			height: 1px;
			background-color: #fff;
			transition: 0.5s;
		}

		&:hover {
			@media screen and (min-width: 1025px) {
				&::after {
					width: 100%;
					opacity: 1;
				}
			}
		}
	}

	&__policy {
		position: relative;
		text-decoration: none;
		font-size: 15px;
		line-height: 18px;
		opacity: 0.32;
		color: inherit;

		@include media(mobile) {
			order: 1;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 2px;
			left: 0;
			right: 0;
			width: 100%;
			height: 1px;
			background-color: #fff;
			transition: 0.5s;
			opacity: 1;
		}

		&:hover {
			@media screen and (min-width: 1025px) {
				&::after {
					width: 0;
					opacity: 0;
				}
			}
		}
	}

	&__copyrights {
		font-size: 15px;
		line-height: 24px;
		letter-spacing: -0.015em;

		@include media(mobile) {
			margin-top: 40px;
		}

		&-author {
			position: relative;
			display: inline-block;
			margin-left: 4px;
			color: inherit;
			text-decoration: none;

			&::after {
				content: "";
				position: absolute;
				bottom: 5px;
				left: 0;
				right: 0;
				width: 100%;
				height: 1px;
				background-color: #fff;
				transition: 0.5s;
				opacity: 1;
			}

			&:hover {
				@media screen and (min-width: 1025px) {
					&::after {
						width: 0;
						opacity: 0;
					}
				}
			}
		}
	}

	&-policy {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100vh;
		z-index: 1000;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s;

		&.active {
			opacity: 1;
			visibility: visible;
			background-color: #000000;
		}

		&__dialog {
			position: relative;

			@include media(tablet-1200) {
				width: 100%;
				max-width: 830px;
			}

			@include media(tablet-993) {
				width: 80%;
			}

			@include media(mobile) {
				width: 75%;
			}

			@include media(600) {
				width: 90%;
			}
		}

		&__content {
			width: 100%;
			max-width: 872px;
			background-color: #fff;
			padding: 64px 44px 87px;
			color: $textDark;
			height: 97vh;
			max-height: 922px;
			overflow-y: auto;
			overflow-x: hidden;
			scrollbar-color: $gold $gold;
			scrollbar-width: thin;

			@include media(mobile) {
				padding: 40px 30px 50px;
			}

			&::-webkit-scrollbar {
				width: 3px;
				border-radius: 2px;
			}

			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
				box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
			}

			&::-webkit-scrollbar-thumb {
				background-color: $gold;
				border-radius: 1px;
			}

			ol {
				list-style: inside;
				list-style-type: decimal;
				margin-top: 55px;

				@include media(mobile) {
					margin-top: 30px;
				}

				li {
					font-weight: bold;
					font-size: 27px;
					line-height: 32px;

					@include media(mobile) {
						font-size: 22px;
					}

					&:not(:first-child) {
						margin-top: 32px;

						@include media(mobile) {
							margin-top: 25px;
						}
					}
					p {
						margin-top: 35px;
						font-family: $mainFont;
						font-weight: normal;
						font-size: 15px;
						line-height: 21px;

						@include media(mobile) {
							margin-top: 10px;
						}
					}
				}
			}
		}

		&__title {
			font-family: $secondaryFont;
			font-weight: bold;
			font-size: 66px;
			line-height: 66px;

			@include media(tablet-993) {
				font-size: 54px;
			}

			@include media(mobile) {
				font-size: 40px;
				line-height: 120%;
			}

			@include media(600) {
				font-size: 24px;
			}
		}

		&__close {
			position: absolute;
			right: -75px;
			top: 0;
			cursor: pointer;
			width: 55px;
			height: 55px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			border: 1px solid rgba(255, 255, 255, 0.13);

			@include media(600) {
				right: 10px;
				top: 10px;
				width: 35px;
				height: 35px;
				border: 1px solid rgba(0, 0, 0, 0.16);
			}

			svg {
				transition: 0.3s;

				@include media(600) {
					width: 18px;
					height: 18px;
					fill: #000000;
				}
			}

			&:hover {
				@media screen and (min-width: 1025px) {
					svg {
						fill: $gold;
					}
				}
			}
		}
	}
}

.coockies-popup {
	color: #f0f0ed;
	font-family: $secondaryFont;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	z-index: 99;
	width: 100%;
	position: fixed;
	bottom: 32px;
	left: 0;
	right: 0;
	width: 100%;

	&__bg {
		position: absolute;
		overflow: hidden;
		border-radius: 9px;
		width: 100%;
		height: 100%;
		z-index: 0;
		pointer-events: none;

		&::before {
			content: "";
			position: absolute;
			width: calc(100% + 20px);
			height: calc(100% + 20px);
			background: rgba(0, 0, 0, 0.55);
			backdrop-filter: blur(11px);
			filter: blur(11px);
			left: -10px;
			top: -10px;
			right: -10px;
			bottom: -10px;
			border-radius: 9px;
			pointer-events: none;
		}
	}

	&__container {
		position: relative;
		z-index: 999;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__dialog {
		display: flex;
		justify-content: space-between;
		padding: 17px 32px;
		width: 100%;
	}

	&__text {
		max-width: 797px;
		position: relative;
		z-index: 9999;
		margin-right: 30px;
	}

	&__close {
		position: relative;
		z-index: 999;
		display: flex;
		align-items: center;
		cursor: pointer;

		svg {
			transition: 0.3s;
		}

		&:hover {
			@media screen and (min-width: 1025px) {
				svg {
					fill: $gold;
				}
			}
		}
	}
}