input,
button,
textarea {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

* {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #ffffff;
	background: #f9f9f9;
	font-family: $mainFont;
	font-size: 16px;
}

.main {
	flex-grow: 1;
}
html,
body {
	height: 100%;
}
.container {
	box-sizing: border-box;
	width: 1137px;
	max-width: 95%;
	max-width: calc(100% - 30px * 2);
	margin-left: 6.73611vw;
	margin-right: 14.305556vw;
}

@media screen and (min-width: 1500px) {
	.container {
		margin: 0 auto;
	}
}

@media screen and (max-width: 1350px) {
	.container {
		margin: 0 auto;
	}
}

@media screen and (max-width: 550px) {
	.container {
		max-width: calc(100% - 15px * 2);
	}
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;

	-webkit-locale: auto;
	white-space: normal;
	&.compensate-for-scrollbar {
		overflow: hidden;
	}
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.logo {
	display: inline-block;
	flex-shrink: 0;

	img {
		width: 109px;
		height: 24px;
	}
}

.inner {
	display: flex;
	&-left {
		flex-basis: 23.48285%;
		display: flex;
	}
	&-right {
		flex-basis: 76.51715%;
		display: flex;
	}
}

.title {
	font-family: $secondaryFont;
	font-weight: bold;
	color: #ffffff;

	&--big {
		font-size: 80px;
		line-height: 77px;
	}

	&--small {
		font-size: 27px;
		line-height: 77px;
	}
}
