.dots {
	position: relative;
	overflow: hidden;
	border-radius: 100px;
	z-index: 10;
	padding: 23px 0;
	width: 34px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	@include media(mobile) {
		display: none;
	}

	&::before {
		content: "";
		position: absolute;
		width: calc(100% + 20px);
		height: calc(100% + 20px);
		background: rgba(0, 0, 0, 0.08);
		filter: blur(11px);
		left: -10px;
		top: -10px;
		right: -10px;
		bottom: -10px;
		z-index: 0;
		border-radius: 100px;
		pointer-events: none;
	}

	&-wrapper {
		position: absolute;
		right: 39px;
		top: 50%;
		transform: translateY(-50%);
	}

	&-item {
		width: 10px;
		height: 10px;
		background: #ffffff;
		opacity: 0.32;
		border-radius: 50%;
		overflow: hidden;
		cursor: pointer;

		&:not(:first-child) {
			margin-top: 12px;
		}

		&.dot--active {
			background: url("../../../images/home/dot-active.png") no-repeat center /
				cover;
			opacity: 1;
			width: 25px;
			height: 25px;
		}
	}
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.slide {
	position: absolute;
	opacity: 0;
	width: 100%;
	background: linear-gradient(
		0deg,
		rgba(26, 25, 25, 0.46),
		rgba(26, 25, 25, 0.46)
	);

	&.active {
		opacity: 1;
	}

	img {
		object-fit: cover;
		height: 900px;
		width: 100%;
		position: relative;
		z-index: -1;

		@include media(tablet-993) {
			height: 800px;
		}
	}
}
