.start {
	&-header {
		padding-top: 32px;
		padding-left: 64px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;

		@include media(tablet-993) {
			padding-left: 30px;
		}
	}

	&-body {
		color: #1a1919;
		display: flex;
		height: 100vh;

		@include media(1025) {
			flex-direction: column;
		}

		&__title {
			position: relative;
			z-index: 10;
			font-family: $secondaryFont;
			font-weight: bold;
			font-size: 64px;
			line-height: 55px;
			max-width: 532px;

			@include media(tablet-1200) {
				font-size: 5vw;
			}

			@include media(550) {
				font-size: 36px;
				max-width: 350px;
			}

			@include media(400) {
				font-size: 26px;
				line-height: 150%;
				max-width: 300px;
			}
		}

		&__inner {
			position: relative;
			flex-basis: 50%;
			padding-top: 211px;
			padding-bottom: 132px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			padding-left: 64px;
			height: 100%;

			@include media(1025) {
				padding-top: 150px;
				padding-bottom: 100px;
				padding-left: 30px;
			}

			@include media(550) {
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}

		&__left {
			background-color: #f8f8f8;

			@include media(tablet-993) {
				height: 50vh;
			}

			@include media(550) {
				padding-top: 100px;
			}

			@include media(350) {
				padding-top: 80px;
			}

			&-bg {
				width: 23.04vw;
				height: 40.39vw;
				bottom: 0;
				right: 6vw;
				z-index: 0;

				@include media(tablet-1200) {
					right: 0;
				}
			}
		}

		&__right {
			background-color: #ffffff;

			@include media(tablet-993) {
				height: 50vh;
			}

			@include media(1025) {
				padding-top: 100px;
			}

			@include media(550) {
				padding-top: 50px;
				padding-bottom: 50px;
			}

			&-bg {
				width: 25.62vw;
				height: 39.556vw;
				bottom: 0;
				right: 2vw;
				z-index: 0;

				@include media(tablet-1200) {
					right: 0;
				}
			}
		}

		&__button {
			position: relative;
			z-index: 10;
			color: #ffffff;
			font-size: 16px;
			line-height: 39px;
			padding: 10px 22px;

			@include media(1025) {
				margin-top: 50px;
			}

			@include media(350) {
				margin-top: 20px;
				padding: 8px 15px;
				font-size: 14px;
			}
		}

		&__bg {
			position: absolute;

			@include media(1025) {
				height: 350px;
				width: auto;
			}

			@include media(550) {
				height: 200px;
				right: 5%;
			}

			@include media(400) {
				right: 0;
			}

			img {
				object-fit: cover;
				height: 100%;
			}
		}
	}
}
