section.contacts-dealers
	.container 
		.inner.contacts-dealers__inner 
			.inner-left.contacts-dealers__inner-left 
			.inner-right.contacts-dealers__inner-right
				.contacts-dealers__top 
					h2.section-title Филиалы
					.contacts-dealers__top-cards 
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%90%D0%B1%D0%B8%D1%88%D0%B0+%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B+34,+%D0%90%D0%BB%D0%BC%D0%B0%D1%82%D1%8B,+%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD/@43.2071553,76.8893628,19z/data=!3m1!4b1!4m5!3m4!1s0x38836894aa771459:0xab71d44585bac742!8m2!3d43.2071543!4d76.88991").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%90%D0%B1%D0%B8%D1%88%D0%B0+%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B+34,+%D0%90%D0%BB%D0%BC%D0%B0%D1%82%D1%8B,+%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD/@43.2071553,76.8893628,19z/data=!3m1!4b1!4m5!3m4!1s0x38836894aa771459:0xab71d44585bac742!8m2!3d43.2071543!4d76.88991").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
				.contacts-dealers__bottom
					h3.section-title Дилеры
					.contacts-dealers__bottom-cards 
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%90%D0%B1%D0%B8%D1%88%D0%B0+%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B+34,+%D0%90%D0%BB%D0%BC%D0%B0%D1%82%D1%8B,+%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD/@43.2071553,76.8893628,19z/data=!3m1!4b1!4m5!3m4!1s0x38836894aa771459:0xab71d44585bac742!8m2!3d43.2071543!4d76.88991").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%90%D0%B1%D0%B8%D1%88%D0%B0+%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B+34,+%D0%90%D0%BB%D0%BC%D0%B0%D1%82%D1%8B,+%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD/@43.2071553,76.8893628,19z/data=!3m1!4b1!4m5!3m4!1s0x38836894aa771459:0xab71d44585bac742!8m2!3d43.2071543!4d76.88991").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%90%D0%B1%D0%B8%D1%88%D0%B0+%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B+34,+%D0%90%D0%BB%D0%BC%D0%B0%D1%82%D1%8B,+%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD/@43.2071553,76.8893628,19z/data=!3m1!4b1!4m5!3m4!1s0x38836894aa771459:0xab71d44585bac742!8m2!3d43.2071543!4d76.88991").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%90%D0%B1%D0%B8%D1%88%D0%B0+%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B+34,+%D0%90%D0%BB%D0%BC%D0%B0%D1%82%D1%8B,+%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD/@43.2071553,76.8893628,19z/data=!3m1!4b1!4m5!3m4!1s0x38836894aa771459:0xab71d44585bac742!8m2!3d43.2071543!4d76.88991").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%90%D0%B1%D0%B8%D1%88%D0%B0+%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B+34,+%D0%90%D0%BB%D0%BC%D0%B0%D1%82%D1%8B,+%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD/@43.2071553,76.8893628,19z/data=!3m1!4b1!4m5!3m4!1s0x38836894aa771459:0xab71d44585bac742!8m2!3d43.2071543!4d76.88991").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%90%D0%B1%D0%B8%D1%88%D0%B0+%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B+34,+%D0%90%D0%BB%D0%BC%D0%B0%D1%82%D1%8B,+%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD/@43.2071553,76.8893628,19z/data=!3m1!4b1!4m5!3m4!1s0x38836894aa771459:0xab71d44585bac742!8m2!3d43.2071543!4d76.88991").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%90%D0%B1%D0%B8%D1%88%D0%B0+%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B+34,+%D0%90%D0%BB%D0%BC%D0%B0%D1%82%D1%8B,+%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD/@43.2071553,76.8893628,19z/data=!3m1!4b1!4m5!3m4!1s0x38836894aa771459:0xab71d44585bac742!8m2!3d43.2071543!4d76.88991").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://www.google.ru/maps/place/%D1%83%D0%BB.+%D0%90%D0%B1%D0%B8%D1%88%D0%B0+%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B+34,+%D0%90%D0%BB%D0%BC%D0%B0%D1%82%D1%8B,+%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD/@43.2071553,76.8893628,19z/data=!3m1!4b1!4m5!3m4!1s0x38836894aa771459:0xab71d44585bac742!8m2!3d43.2071543!4d76.88991").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте