section.contacts-dealers
	.container 
		.inner.contacts-dealers__inner 
			.inner-left.contacts-dealers__inner-left 
			.inner-right.contacts-dealers__inner-right
				.contacts-dealers__top 
					h2.section-title Филиалы
					.contacts-dealers__top-cards 
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(href="#").card__link
								img(src="img/mark.svg", alt="")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(href="#").card__link
								img(src="img/mark.svg", alt="")
								span Смотреть на карте
				.contacts-dealers__bottom
					h3.section-title Дилеры
					.contacts-dealers__bottom-cards 
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(href="#").card__link
								img(src="img/mark.svg", alt="")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(href="#").card__link
								img(src="img/mark.svg", alt="")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(href="#").card__link
								img(src="img/mark.svg", alt="")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(href="#").card__link
								img(src="img/mark.svg", alt="")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(href="#").card__link
								img(src="img/mark.svg", alt="")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(href="#").card__link
								img(src="img/mark.svg", alt="")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(href="#").card__link
								img(src="img/mark.svg", alt="")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(href="#").card__link
								img(src="img/mark.svg", alt="")
								span Смотреть на карте