section.contacts-dealers
	.container 
		.inner.contacts-dealers__inner 
			.inner-left.contacts-dealers__inner-left 
			.inner-right.contacts-dealers__inner-right
				.contacts-dealers__top 
					h2.section-title Филиалы
					.contacts-dealers__top-cards 
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://yandex.ru/maps/162/almaty/house/Y08Yfg9jT0AFQFppfX5zcH1hZg==/?ll=76.883652%2C43.221122&mode=search&sctx=ZAAAAAgAEAAaKAoSCXwpPGh2kUNAETXPEfkuUUZAEhIJAAAAAIC9vD8RAOTMzxHTqT8oCjgAQO9VSAFiNHJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbFRocmVzaG9sZD0wLjRiTnJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbEZvcm11bGE9bmV3X3JlbGV2YW5jZV9pcnJlbHNfODQwXzc4NTE1NGIwcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsRm9vZD10cnVlYixyZWFycj1zY2hlbWVfTG9jYWwvR2VvL1Bvc3RmaWx0ZXIvSXJyZWw9dHJ1ZWoCcnVwAJ0BzcxMPaABAKgBAL0B8Ik8z8IBAwAAAOoBAPIBAPgBAIICPtGD0LsuINCQ0LHQuNGI0LAg0JrQtdC60LjQu9Cx0LDQudGD0LvRiywg0LQuIDM0LCDQvtGE0LjRgSA3LTAzigIA&sll=76.883652%2C43.221122&sspn=0.013003%2C0.005983&text=%D1%83%D0%BB.%20%D0%90%D0%B1%D0%B8%D1%88%D0%B0%20%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B%2C%20%D0%B4.%2034%2C%20%D0%BE%D1%84%D0%B8%D1%81%207-03&utm_source=main_stripe_big&z=17.11").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://yandex.ru/maps/162/almaty/house/Y08Yfg9jT0AFQFppfX5zcH1hZg==/?ll=76.883652%2C43.221122&mode=search&sctx=ZAAAAAgAEAAaKAoSCXwpPGh2kUNAETXPEfkuUUZAEhIJAAAAAIC9vD8RAOTMzxHTqT8oCjgAQO9VSAFiNHJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbFRocmVzaG9sZD0wLjRiTnJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbEZvcm11bGE9bmV3X3JlbGV2YW5jZV9pcnJlbHNfODQwXzc4NTE1NGIwcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsRm9vZD10cnVlYixyZWFycj1zY2hlbWVfTG9jYWwvR2VvL1Bvc3RmaWx0ZXIvSXJyZWw9dHJ1ZWoCcnVwAJ0BzcxMPaABAKgBAL0B8Ik8z8IBAwAAAOoBAPIBAPgBAIICPtGD0LsuINCQ0LHQuNGI0LAg0JrQtdC60LjQu9Cx0LDQudGD0LvRiywg0LQuIDM0LCDQvtGE0LjRgSA3LTAzigIA&sll=76.883652%2C43.221122&sspn=0.013003%2C0.005983&text=%D1%83%D0%BB.%20%D0%90%D0%B1%D0%B8%D1%88%D0%B0%20%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B%2C%20%D0%B4.%2034%2C%20%D0%BE%D1%84%D0%B8%D1%81%207-03&utm_source=main_stripe_big&z=17.11").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
				.contacts-dealers__bottom
					h3.section-title Дилеры
					.contacts-dealers__bottom-cards 
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://yandex.ru/maps/162/almaty/house/Y08Yfg9jT0AFQFppfX5zcH1hZg==/?ll=76.883652%2C43.221122&mode=search&sctx=ZAAAAAgAEAAaKAoSCXwpPGh2kUNAETXPEfkuUUZAEhIJAAAAAIC9vD8RAOTMzxHTqT8oCjgAQO9VSAFiNHJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbFRocmVzaG9sZD0wLjRiTnJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbEZvcm11bGE9bmV3X3JlbGV2YW5jZV9pcnJlbHNfODQwXzc4NTE1NGIwcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsRm9vZD10cnVlYixyZWFycj1zY2hlbWVfTG9jYWwvR2VvL1Bvc3RmaWx0ZXIvSXJyZWw9dHJ1ZWoCcnVwAJ0BzcxMPaABAKgBAL0B8Ik8z8IBAwAAAOoBAPIBAPgBAIICPtGD0LsuINCQ0LHQuNGI0LAg0JrQtdC60LjQu9Cx0LDQudGD0LvRiywg0LQuIDM0LCDQvtGE0LjRgSA3LTAzigIA&sll=76.883652%2C43.221122&sspn=0.013003%2C0.005983&text=%D1%83%D0%BB.%20%D0%90%D0%B1%D0%B8%D1%88%D0%B0%20%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B%2C%20%D0%B4.%2034%2C%20%D0%BE%D1%84%D0%B8%D1%81%207-03&utm_source=main_stripe_big&z=17.11").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://yandex.ru/maps/162/almaty/house/Y08Yfg9jT0AFQFppfX5zcH1hZg==/?ll=76.883652%2C43.221122&mode=search&sctx=ZAAAAAgAEAAaKAoSCXwpPGh2kUNAETXPEfkuUUZAEhIJAAAAAIC9vD8RAOTMzxHTqT8oCjgAQO9VSAFiNHJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbFRocmVzaG9sZD0wLjRiTnJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbEZvcm11bGE9bmV3X3JlbGV2YW5jZV9pcnJlbHNfODQwXzc4NTE1NGIwcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsRm9vZD10cnVlYixyZWFycj1zY2hlbWVfTG9jYWwvR2VvL1Bvc3RmaWx0ZXIvSXJyZWw9dHJ1ZWoCcnVwAJ0BzcxMPaABAKgBAL0B8Ik8z8IBAwAAAOoBAPIBAPgBAIICPtGD0LsuINCQ0LHQuNGI0LAg0JrQtdC60LjQu9Cx0LDQudGD0LvRiywg0LQuIDM0LCDQvtGE0LjRgSA3LTAzigIA&sll=76.883652%2C43.221122&sspn=0.013003%2C0.005983&text=%D1%83%D0%BB.%20%D0%90%D0%B1%D0%B8%D1%88%D0%B0%20%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B%2C%20%D0%B4.%2034%2C%20%D0%BE%D1%84%D0%B8%D1%81%207-03&utm_source=main_stripe_big&z=17.11").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://yandex.ru/maps/162/almaty/house/Y08Yfg9jT0AFQFppfX5zcH1hZg==/?ll=76.883652%2C43.221122&mode=search&sctx=ZAAAAAgAEAAaKAoSCXwpPGh2kUNAETXPEfkuUUZAEhIJAAAAAIC9vD8RAOTMzxHTqT8oCjgAQO9VSAFiNHJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbFRocmVzaG9sZD0wLjRiTnJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbEZvcm11bGE9bmV3X3JlbGV2YW5jZV9pcnJlbHNfODQwXzc4NTE1NGIwcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsRm9vZD10cnVlYixyZWFycj1zY2hlbWVfTG9jYWwvR2VvL1Bvc3RmaWx0ZXIvSXJyZWw9dHJ1ZWoCcnVwAJ0BzcxMPaABAKgBAL0B8Ik8z8IBAwAAAOoBAPIBAPgBAIICPtGD0LsuINCQ0LHQuNGI0LAg0JrQtdC60LjQu9Cx0LDQudGD0LvRiywg0LQuIDM0LCDQvtGE0LjRgSA3LTAzigIA&sll=76.883652%2C43.221122&sspn=0.013003%2C0.005983&text=%D1%83%D0%BB.%20%D0%90%D0%B1%D0%B8%D1%88%D0%B0%20%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B%2C%20%D0%B4.%2034%2C%20%D0%BE%D1%84%D0%B8%D1%81%207-03&utm_source=main_stripe_big&z=17.11").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://yandex.ru/maps/162/almaty/house/Y08Yfg9jT0AFQFppfX5zcH1hZg==/?ll=76.883652%2C43.221122&mode=search&sctx=ZAAAAAgAEAAaKAoSCXwpPGh2kUNAETXPEfkuUUZAEhIJAAAAAIC9vD8RAOTMzxHTqT8oCjgAQO9VSAFiNHJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbFRocmVzaG9sZD0wLjRiTnJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbEZvcm11bGE9bmV3X3JlbGV2YW5jZV9pcnJlbHNfODQwXzc4NTE1NGIwcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsRm9vZD10cnVlYixyZWFycj1zY2hlbWVfTG9jYWwvR2VvL1Bvc3RmaWx0ZXIvSXJyZWw9dHJ1ZWoCcnVwAJ0BzcxMPaABAKgBAL0B8Ik8z8IBAwAAAOoBAPIBAPgBAIICPtGD0LsuINCQ0LHQuNGI0LAg0JrQtdC60LjQu9Cx0LDQudGD0LvRiywg0LQuIDM0LCDQvtGE0LjRgSA3LTAzigIA&sll=76.883652%2C43.221122&sspn=0.013003%2C0.005983&text=%D1%83%D0%BB.%20%D0%90%D0%B1%D0%B8%D1%88%D0%B0%20%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B%2C%20%D0%B4.%2034%2C%20%D0%BE%D1%84%D0%B8%D1%81%207-03&utm_source=main_stripe_big&z=17.11").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://yandex.ru/maps/162/almaty/house/Y08Yfg9jT0AFQFppfX5zcH1hZg==/?ll=76.883652%2C43.221122&mode=search&sctx=ZAAAAAgAEAAaKAoSCXwpPGh2kUNAETXPEfkuUUZAEhIJAAAAAIC9vD8RAOTMzxHTqT8oCjgAQO9VSAFiNHJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbFRocmVzaG9sZD0wLjRiTnJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbEZvcm11bGE9bmV3X3JlbGV2YW5jZV9pcnJlbHNfODQwXzc4NTE1NGIwcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsRm9vZD10cnVlYixyZWFycj1zY2hlbWVfTG9jYWwvR2VvL1Bvc3RmaWx0ZXIvSXJyZWw9dHJ1ZWoCcnVwAJ0BzcxMPaABAKgBAL0B8Ik8z8IBAwAAAOoBAPIBAPgBAIICPtGD0LsuINCQ0LHQuNGI0LAg0JrQtdC60LjQu9Cx0LDQudGD0LvRiywg0LQuIDM0LCDQvtGE0LjRgSA3LTAzigIA&sll=76.883652%2C43.221122&sspn=0.013003%2C0.005983&text=%D1%83%D0%BB.%20%D0%90%D0%B1%D0%B8%D1%88%D0%B0%20%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B%2C%20%D0%B4.%2034%2C%20%D0%BE%D1%84%D0%B8%D1%81%207-03&utm_source=main_stripe_big&z=17.11").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://yandex.ru/maps/162/almaty/house/Y08Yfg9jT0AFQFppfX5zcH1hZg==/?ll=76.883652%2C43.221122&mode=search&sctx=ZAAAAAgAEAAaKAoSCXwpPGh2kUNAETXPEfkuUUZAEhIJAAAAAIC9vD8RAOTMzxHTqT8oCjgAQO9VSAFiNHJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbFRocmVzaG9sZD0wLjRiTnJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbEZvcm11bGE9bmV3X3JlbGV2YW5jZV9pcnJlbHNfODQwXzc4NTE1NGIwcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsRm9vZD10cnVlYixyZWFycj1zY2hlbWVfTG9jYWwvR2VvL1Bvc3RmaWx0ZXIvSXJyZWw9dHJ1ZWoCcnVwAJ0BzcxMPaABAKgBAL0B8Ik8z8IBAwAAAOoBAPIBAPgBAIICPtGD0LsuINCQ0LHQuNGI0LAg0JrQtdC60LjQu9Cx0LDQudGD0LvRiywg0LQuIDM0LCDQvtGE0LjRgSA3LTAzigIA&sll=76.883652%2C43.221122&sspn=0.013003%2C0.005983&text=%D1%83%D0%BB.%20%D0%90%D0%B1%D0%B8%D1%88%D0%B0%20%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B%2C%20%D0%B4.%2034%2C%20%D0%BE%D1%84%D0%B8%D1%81%207-03&utm_source=main_stripe_big&z=17.11").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://yandex.ru/maps/162/almaty/house/Y08Yfg9jT0AFQFppfX5zcH1hZg==/?ll=76.883652%2C43.221122&mode=search&sctx=ZAAAAAgAEAAaKAoSCXwpPGh2kUNAETXPEfkuUUZAEhIJAAAAAIC9vD8RAOTMzxHTqT8oCjgAQO9VSAFiNHJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbFRocmVzaG9sZD0wLjRiTnJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbEZvcm11bGE9bmV3X3JlbGV2YW5jZV9pcnJlbHNfODQwXzc4NTE1NGIwcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsRm9vZD10cnVlYixyZWFycj1zY2hlbWVfTG9jYWwvR2VvL1Bvc3RmaWx0ZXIvSXJyZWw9dHJ1ZWoCcnVwAJ0BzcxMPaABAKgBAL0B8Ik8z8IBAwAAAOoBAPIBAPgBAIICPtGD0LsuINCQ0LHQuNGI0LAg0JrQtdC60LjQu9Cx0LDQudGD0LvRiywg0LQuIDM0LCDQvtGE0LjRgSA3LTAzigIA&sll=76.883652%2C43.221122&sspn=0.013003%2C0.005983&text=%D1%83%D0%BB.%20%D0%90%D0%B1%D0%B8%D1%88%D0%B0%20%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B%2C%20%D0%B4.%2034%2C%20%D0%BE%D1%84%D0%B8%D1%81%207-03&utm_source=main_stripe_big&z=17.11").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте
						.card.contacts-dealers__card
							.card__header 
								img(src="img/location.svg", alt="")
								.card__contacts
									a(href="tel:+77272361015").card__phone +7 (727) 236-10-15
									a(href="mailto:almaty@kcep.kz").card__mail almaty@kcep.kz
							.card__body 
								address.card__address
									span.card__address--big РК, A15K3E4, г. Алматы,
									span.card__address--small ул. Абиша Кекилбайулы, д. 34, офис 7-03
							a(target="_blank" href="https://yandex.ru/maps/162/almaty/house/Y08Yfg9jT0AFQFppfX5zcH1hZg==/?ll=76.883652%2C43.221122&mode=search&sctx=ZAAAAAgAEAAaKAoSCXwpPGh2kUNAETXPEfkuUUZAEhIJAAAAAIC9vD8RAOTMzxHTqT8oCjgAQO9VSAFiNHJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbFRocmVzaG9sZD0wLjRiTnJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vUG9zdGZpbHRlci9JcnJlbEZvcm11bGE9bmV3X3JlbGV2YW5jZV9pcnJlbHNfODQwXzc4NTE1NGIwcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0lycmVsRm9vZD10cnVlYixyZWFycj1zY2hlbWVfTG9jYWwvR2VvL1Bvc3RmaWx0ZXIvSXJyZWw9dHJ1ZWoCcnVwAJ0BzcxMPaABAKgBAL0B8Ik8z8IBAwAAAOoBAPIBAPgBAIICPtGD0LsuINCQ0LHQuNGI0LAg0JrQtdC60LjQu9Cx0LDQudGD0LvRiywg0LQuIDM0LCDQvtGE0LjRgSA3LTAzigIA&sll=76.883652%2C43.221122&sspn=0.013003%2C0.005983&text=%D1%83%D0%BB.%20%D0%90%D0%B1%D0%B8%D1%88%D0%B0%20%D0%9A%D0%B5%D0%BA%D0%B8%D0%BB%D0%B1%D0%B0%D0%B9%D1%83%D0%BB%D1%8B%2C%20%D0%B4.%2034%2C%20%D0%BE%D1%84%D0%B8%D1%81%207-03&utm_source=main_stripe_big&z=17.11").card__link
								svg.card__link-icon
									use(xlink:href="img/sprite.svg#mark")
								span Смотреть на карте