section.contacts-hero
	.contacts-hero__map#map
	.container 
		.inner.contacts-hero__inner 
			.inner-left.contacts-hero__inner-left 
			.inner-right.contacts-hero__inner-right
				.contacts-hero__info 
					h1.title.contacts-hero__title Контактная информация
					address.contacts-hero__address M22E7B8 г. Сарань, ул. Шахтерская, д. 30«А»
					a(href="mailto:info@kcep.kz").contacts-hero__mail info@kcep.kz
					.contacts-hero__phones
						span Секретарь
							a(href="tel:+77212912500") +7 (7212) 912 500
						span Отдел продаж
							a(href="tel:+77212912501") +7 (7212) 912 501
					span.contacts-hero__schedule пн - пт: 08:00 – 17:00