section.contacts-time 
	.container
		.inner.contacts-time__inner 
			.inner-left.contacts-time__inner-left 
			.inner-right.contacts-time__inner-right
				.contacts-time__current-time.time 16:00
				h3.contacts-time__text Местное время
				.contacts-time__backdrop-time.time 16:00