.certificates {
	background: $light;
	&__container {
		display: flex;
		position: relative;
		z-index: 1;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	&-select {
		padding-top: 102px;
		padding-bottom: 22px;
		background: #1a1919;
		display: flex;

		@include media(tablet-993) {
			padding-top: 135px;
		}
		&__title {
			font-weight: bold;
			font-size: 27px;
			line-height: 70px;
		}
		&__left {
			flex-direction: column;
			justify-content: flex-start;
			padding-left: 39px;
			padding-top: 12px;

			@include media(tablet-993) {
				padding-left: 17px;
			}

			@include media(mobile) {
				display: none;
			}
		}
		&__small {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			margin-top: 19px;
		}
	}
	&-all {
		padding-bottom: 175px;
		position: relative;
		overflow: hidden;

		@include media(tablet-1200) {
			padding-bottom: 100px;
		}

		@include media(tablet-993) {
			padding-bottom: 90px;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			position: relative;
			z-index: 1;

			@include media(470) {
				padding: 0 17px;
			}
		}

		&__inner {
			position: relative;
			padding-top: 80px;

			&::before {
				content: '';
				position: absolute;
				left: 41.8%;
				top: 0;
				width: 1px;
				height: calc(100% + 180px);
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}

			&::after {
				content: '';
				position: absolute;
				right: 13%;
				top: 0;
				width: 1px;
				height: calc(100% + 180px);
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}

			@include media(mobile) {
				flex-basis: 100%;
			}
			@include media(mobile-457) {
				padding-top: 60px;
			}
		}
		&__left {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
				height: calc(100% + 180px);
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}

			@include media(mobile) {
				flex-basis: 0;
			}
		}
	}
	&-item {
		max-width: 208px;
		max-height: 367px;
		width: 100%;
		height: 100%;
		background-color: $white;
		margin-bottom: 12px;
		border-radius: 0 0 0 10px;
		margin-right: 12px;
		transition: background-color 0.3s;

		&:hover {
			@media screen and (min-width: 1025px) {
				&:hover {
					background-color: #e9e9e9;
				}
			}
		}

		@media screen and (min-width: 1200px) {
			&:nth-child(4n + 4) {
				margin-right: 0;
			}
		}

		@media screen and (min-width: 924px) {
			&:nth-child(3n + 3) {
				margin-right: 12px;
			}
		}

		@include media(470) {
			max-width: 100%;
			max-height: none;
			height: auto;
			margin-right: 0;
		}

		&__img {
			margin-bottom: 17px;

			@include media(470) {
				margin: auto;
			}
		}
		&__text {
			font-weight: bold;
			font-size: 15px;
			line-height: 21px;
			color: #1a1919;
			display: block;
			// padding: 16px 16px 16px 16px;

			@include media(470) {
				margin-top: 20px;
				text-align: center;
			}
		}

		&__link {
			display: block;
			width: 100%;
			height: 100%;
			padding: 16px;
			
			p {
				transition: color 0.3s;
			}
		}
	}
}
