.events{
    background: $light;
    &__container{
        display: flex;
        position: relative;
        z-index: 1;
    }
    &__inner{
        display: flex;
        flex-direction: column;

        &-left {
            @include media(620) {
                display: none;
            }
        }

        &-right {
            min-height: 0;
        }
    }
    &-select{
        padding-top: 102px;
        padding-bottom: 37px;
        background: #1A1919;
        display: flex;

        @include media(tablet-993) {
            padding-top: 135px;
        }

        &__big{
            list-style: none;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            &-item{
                font-weight: bold;
                font-size: 27px;
                line-height: 77px;
                color: #FFFFFF;
                &--select{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 27px;
                    line-height: 77px;
                    position: relative;
                    &::after{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        content: "";
                        width: 100%;
                        height: 3px;
                        background: $gold;
                    }
                }
            }
        }
        &__small{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-top: 16px;
            &-item{
                padding: 10px 20px;
                background: $dark;   
                border-radius: 1000px;
                color: $white;
                margin-right: 8px;
                margin-bottom: 11px;
                cursor: pointer;
                &--select{
                    background: $gold;
                }        
            }
        }
    }
    &-all{
        padding-bottom: 175px;
        position: relative;
        overflow: hidden;

        @include media(tablet-993) {
            padding-bottom: 100px;
        }

        @include media(mobile) {
            padding-bottom: 60px;
        }
        &__list{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            position: relative;
            z-index: 1;
			width: 100%;
        }
        &__inner{
            position: relative;
            padding-top: 111px;

            &::before {
				content: '';
				position: absolute;
				left: 41.7%;
				top: 0;
				width: 1px;
				height: calc(100% + 175px);
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}

            &::after {
				content: '';
				position: absolute;
				right: 18%;
				top: 0;
				width: 1px;
				height: calc(100% + 175px);
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}

            @include media(mobile-620){
                flex-basis: 100%;
            }
            @include media(mobile-457){
                padding-top: 97px;
            }
        }
        &__left{
            position: relative;

            &::before {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
				height: calc(100% + 175px);
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}
            @include media(mobile-620){
                flex-basis: 0;
            }
        }
        
    }
    &-item{
        max-width: 208px;
        width: 100%;
        background-color: $white;
        margin-bottom: 12px;
        border-radius: 0 0 0 10px;
        transition: background-color 0.3s;

        &:not(:nth-child(4n+4)){
            margin-right: 12px;
        }

        &:hover {
            @media screen and (min-width: 1025px) {
                &:hover {
                    background-color: #e9e9e9;
                }
            }
        }

        @include media(tablet-1194){
            &:not(:nth-child(4n+4)){
                margin-right: 0px;
            }
            &:not(:nth-child(3n+3)){
                margin-right: 12px;
            }
        }
        @include media(tablet-906){
            &:not(:nth-child(3n+3)){
                margin-right: 0px;
            }
            &:not(:nth-child(2n+2)){
                margin-right: 12px;
            }
        }
        @include media(mobile-457){
            &:not(:nth-child(2n+2)){
                margin-right: 0px;
            }
            max-width: 100%;
            margin-bottom: 16px;
        }
        &__img{
            // margin-bottom: 17px;
            border-radius: 0 0 0 10px;
			padding-bottom: 123.557%;
			position: relative;
			width: 100%;
			overflow: hidden;

			@include media(mobile) {
				padding-bottom: 83.27%;
			}
			img{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				object-fit: cover;
				display: block;
			}


        }
        &__text{
            font-size: 15px;
            line-height: 21px;
            color: #1A1919;
            display: block;
            padding: 16px 16px 16px 16px;
        }
        &__link{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.pagination {
	flex-basis: 76.51715%;
	width: 100%;
	margin-top: 90px;
	margin-bottom: 70px;
	@include media(mobile-620){
		flex-basis: 100%;
		margin-top: 60px;
		margin-bottom: 40px;
	}
	$self: &;
	overflow: hidden;

	&__container {
		display: flex;

		& > * {
			align-self: center;
		}
	}

	&__btn {
		margin-right: 12px;
		margin-bottom: 12px;

		&--next {
		}
		&--prev {
		}
	}

	&__list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		padding: 0;
		justify-content: center;
	}

	&__item {
		margin: 0 6px 12px;

		&--current {
			#{$self}__link {
				pointer-events: none;
				color: #ffffff;
				background-color: #1A1919;
			}
		}
	}

	&__link {
		display: block;
		width: 36px;
		height: 36px;
		font-size: 16px;
		line-height: 34px;
		color: #1a1919;
		text-align: center;
		border-radius: 5px;
		border: solid 1px #1a1919;
		transition: 0.2s;
	}
}
