.product-usage {
	height: auto;
	color: $textDark;

	&__inner {
		&-left {
			@include media(tablet-993) {
				flex-basis: 0;
			}
		}
		&-right {
			flex-direction: column;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 1px;
				height: 550px;
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}

			@include media(tablet-993) {
				flex-basis: 100%;
				padding-left: 38px;
			}

			@include media(550) {
				padding-left: 15px;
			}

			@include media(400) {
				padding-left: 17px;
				padding-top: 19px;
			}
		}
	}

	&__text {
		margin-top: 43px;
		max-width: 760px;

		@include media(mobile) {
			margin-top: 30px;
		}

		@include media(400) {
			max-width: 300px;
		}
	}
	p {
		font-size: 18px;
		line-height: 24px;
		color: inherit;

		@include media(mobile) {
			font-size: 16px;
			line-height: 21px;
		}
	}

	ol {
		margin-left: 20px;
		margin-top: 23px;

		@include media(mobile) {
			margin-top: 34px;
			margin-left: 22px;
		}

		li {
			font-size: 18px;
			line-height: 24px;

			@include media(mobile) {
				font-size: 16px;
				line-height: 21px;
			}
			&:not(:first-child) {
				margin-top: 3px;
			}
		}
	}

	&__info {
		display: flex;
		align-items: center;
		margin-top: 63px;
		font-family: $secondaryFont;
		font-weight: bold;
		font-size: 15px;
		line-height: 18px;

		@include media(mobile) {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 69px;
		}

		&-item {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-right: 57px;

				@include media(tablet-993) {
					margin-right: 20px;
				}
				@include media(mobile) {
					margin-right: 0;
				}
			}

			&:not(:first-child) {
				@include media(mobile) {
					margin-top: 32px;
				}
			}

			&-img {
				flex-shrink: 0;
				width: 56px;
				height: 56px;
				border-radius: 50%;
				background-color: #e9e9e9;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 16px;

				img {
					width: 50%;
				}
			}

			span {
				max-width: 140px;
			}
		}
	}

	&__section-title {
		margin-top: 36px;
	}
}
