.product-hero {
	background-color: $dark;
	margin-top: -102px;
	padding-top: 102px;
	min-height: 500px;

	&__container {
		min-height: 500px;
	}

	&__inner {
		align-items: flex-start;
		padding-top: 20px;

		&-left {
			padding-left: 39px;
		}

		&-right {
			flex-direction: column;
			height: 100%;
			padding-bottom: 18px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 27px;
		line-height: 43px;
	}

	&__pagination {
		display: flex;
		padding-left: 16px;
		margin-top: 50px;

		&-item {
			position: relative;
			width: 125px;
			height: 77px;
			background-color: rgba(255, 255, 255, 0.02);
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:not(:last-child) {
				margin-right: 2px;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 0;
				height: 1px;
				background-color: $gold;
			}

			&.active {
				&::after {
					width: 100%;
				}
			}
		}
	}

	&__slider {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&-wrapper {
			position: relative;
			min-height: 300px;
		}
	}

	&__slide {
		position: absolute;
		opacity: 0;
		min-height: 300px;

		&.active {
			opacity: 1;
		}
	}
}
