.product-usage {
	height: auto;
	color: $textDark;

	&__inner {
		&-left {
			@include media(tablet-993) {
				flex-basis: 0;
			}
		}
		&-right {
			flex-direction: column;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 1px;
				height: 580px;
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}
			
			&::after {
				content: '';
				position: absolute;
				right: 13%;
				top: 0;
				width: 1px;
				height: 580px;
				background-color: rgba(160, 171, 123, 0.12);

				@include media(tablet-993) {
					display: none;
				}
			}

			@include media(tablet-993) {
				flex-basis: 100%;
				padding-left: 38px;
			}

			@include media(550) {
				padding-left: 15px;
			}

			@include media(400) {
				padding-left: 17px;
				padding-top: 19px;
			}
		}
	}

	&__text {
		margin-top: 43px;
		max-width: 760px;

		@include media(mobile) {
			margin-top: 30px;
		}

		@include media(400) {
			max-width: 300px;
		}
	}
	p {
		font-size: 18px;
		line-height: 24px;
		color: inherit;

		@include media(mobile) {
			font-size: 16px;
			line-height: 21px;
		}
	}

	ol {
		margin-left: 20px;
		margin-top: 23px;

		@include media(mobile) {
			margin-top: 34px;
			margin-left: 22px;
		}

		li {
			font-size: 18px;
			line-height: 24px;

			@include media(mobile) {
				font-size: 16px;
				line-height: 21px;
			}
			&:not(:first-child) {
				margin-top: 3px;
			}
		}
	}

	&__info {
		display: flex;
		align-items: center;
		margin-top: 63px;
		font-family: $secondaryFont;
		font-weight: bold;
		font-size: 15px;
		line-height: 18px;

		@include media(mobile) {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 69px;
		}

		&-item {
			position: relative;
			display: flex;
			align-items: center;
			border-radius: 50%;

			&:hover {
				span {
					@media screen and (min-width: 768px) {
						animation: bubbleAnimation 300ms linear forwards;
					}
				}
			}

			&:not(:first-child) {
				@include media(mobile) {
					margin-top: 32px;
				}
			}

			&:not(:last-child) {
				@media screen and (min-width: 768px) {
					margin-right: 32px;
				}
			}

			&-img {
				flex-shrink: 0;
				width: 56px;
				height: 56px;
				border-radius: 50%;
				background-color: #e9e9e9;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				position: relative;
				z-index: 10;

				img {
					width: 50%;
				}
			}

			span {
				width: auto;

				@media screen and (min-width: 768px) {
					position: absolute;
					bottom: 69px;
					left: 0;
					min-width: 140px;
					visibility: hidden;
					opacity: 0;
					background-color: #fff;
					display: inline-block;
					padding: 5px 10px;
					border-radius: 5px;

					&::after {
						content: ''; 
						position: absolute; /* Абсолютное позиционирование */
						left: 18px; bottom: -20px; /* Положение треугольника */
						border: 10px solid transparent; /* Прозрачные границы */
						border-top: 10px solid #fff; /* Добавляем треугольник */
					}
				}

				@include media(mobile) {
					max-width: 100%;
					margin-left: 25px;
				}
				
			}
		}
	}

	&__section-title {
		margin-top: 36px;
	}
}

@keyframes bubbleAnimation {
	0% {
		visibility: hidden;
		opacity: 0;
		transform: translateY(15px);
	}

	100% {
		visibility: visible;
		opacity: 1;	
		transform: translateY(0);
	}
}
