.product-hero {
	background-color: $dark;
	margin-top: -102px;
	padding-top: 102px;
	min-height: 500px;

	@include media(mobile) {
		min-height: 400px;
	}

	&__container {
		min-height: 500px;

		@include media(mobile) {
			min-height: 400px;
		}
	}

	&__inner {
		align-items: flex-start;
		padding-top: 13px;

		@include media(mobile) {
			flex-direction: column;
		}

		&-left {
			padding-left: 39px;

			@include media(mobile) {
				padding-left: 0;
				display: none;
			}
		}

		&-right {
			flex-direction: column;
			height: 100%;
			padding-bottom: 18px;
			padding-top: 3px;

			@include media(mobile) {
				flex-basis: 100%;
				width: 100%;
				overflow: auto;
			}
		}
	}

	&__title {
		font-family: $secondaryFont;
		font-weight: bold;
		font-size: 27px;
		line-height: 43px;

		@include media(mobile) {
			font-size: 27px;
			line-height: 36px;
		}
	}

	&__pagination {
		display: flex;
		padding-left: 16px;
		margin-top: 4px;

		@include media(mobile) {
			margin-top: 0;
			width: 100%;
			overflow: auto;
		}

		&-item {
			position: relative;
			width: 125px;
			height: 77px;
			background-color: rgba(255, 255, 255, 0.02);
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:not(:last-child) {
				margin-right: 2px;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 0;
				height: 1px;
				background-color: $gold;
			}

			&.active {
				&::after {
					width: 100%;
				}
			}
		}
	}

	&__slider {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&-wrapper {
			position: relative;
			min-height: 300px;
		}
	}

	&__slide {
		position: absolute;
		opacity: 0;
		min-height: 300px;

		@include media(mobile) {
			display: flex;
			align-items: center;
		}

		&.active {
			opacity: 1;
		}
	}
}
