.products 
    .products-select 
        .container.products__container
            .inner-left.products-select__left
            .inner-right.products__inner
                ul.products-select__big
                    li.products-select__big-item.products-select__big-item--select Оптический кабель
                    li.products-select__big-item Медножильный кабель
                    li.products-select__big-item Оптические шнуры
                ul.products-select__small
                    li.tag.tag--selected.products-select__small-item Все
                    li.tag.products-select__small-item Абонентский
                    li.tag.products-select__small-item Для прокладки в грунт
                    li.tag.products-select__small-item Для прокладки в канализацию
                    li.tag.products-select__small-item Для пневмозадувки
                    li.tag.products-select__small-item Микрокабель
                    li.tag.products-select__small-item Подвесной            
    .products-all
        .container.products__container
            .inner-left.products-all__left
            .inner-right.products-all__inner
                ul.products-all__list
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/1.png", alt="")
                            .products-item__text Кабель оптический гибкий с вынесенным силовым элементом КС-FTTНSC
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/2.png", alt="")
                            .products-item__text Кабель абонентский самонесущий OPCC
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/1.png", alt="")
                            .products-item__text Кабель оптический гибкий с вынесенным силовым элементом КС-FTTНSC
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/2.png", alt="")
                            .products-item__text Кабель абонентский самонесущий OPCC
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/1.png", alt="")
                            .products-item__text Кабель оптический гибкий с вынесенным силовым элементом КС-FTTНSC
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/2.png", alt="")
                            .products-item__text Кабель абонентский самонесущий OPCC
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/1.png", alt="")
                            .products-item__text Кабель оптический гибкий с вынесенным силовым элементом КС-FTTНSC
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/2.png", alt="")
                            .products-item__text Кабель абонентский самонесущий OPCC
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/1.png", alt="")
                            .products-item__text Кабель оптический гибкий с вынесенным силовым элементом КС-FTTНSC
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/2.png", alt="")
                            .products-item__text Кабель абонентский самонесущий OPCC
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/1.png", alt="")
                            .products-item__text Кабель оптический гибкий с вынесенным силовым элементом КС-FTTНSC
                    li.products-all__list-item.products-item
                        a.products-item__link(href="#") 
                            img.products-item__img(src="img/products/2.png", alt="")
                            .products-item__text Кабель абонентский самонесущий OPCC
                    