section.event-hero
	.event-hero__bg 
		img(src="images/event/event-bg.jpg", alt="")
	.container.event-hero__container 
		.inner.event-hero__inner
			.inner-left.event-hero__inner-left
				+button-prev("product-hero__button-prev")
			.inner-right.event-hero__inner-right
				h1.title.title--small.event-hero__title KCEP на международной выставке «Проволока Россия 2019»
section.event-content 
	.container.event-content__container 
		.inner.event-content__inner
			.inner-left.event-content__inner-left
			.inner-right.event-content__inner-right
				h2 Заголовок
				p С 18 по 20 июня 2019 года в Москве на территории ЦВК «Экспоцентр» в павильоне Форум прошла Международная выставка оборудования для производства и обработки проволоки, кабеля и метизов в России «Проволока Россия 2019».
				p «Проволока Россия» проводится один раз в два года и имеет статус ведущей специализированной выставки в области технологии производства кабельной и проволочной продукции в России. Организаторы выставки Messe Düsseldorf GmbH, ООО «Мессе Дюссельдорф Москва» и Всероссийский научно-исследовательский институт кабельной промышленности (ВНИИКП).
				p Выставка проходит при традиционной поддержке Союза немецких машиностроителей (VDMA) и Международной Трубной Ассоциации (ITA). В 2019 году в выставке приняли участие более 200 экспонентов из 25 стран мира, которые представили последние технологические разработки в области оборудования для производства всех видов проволоки и кабелей.
				p 
					b Пример жирного текста. 
					u Пример подчеркнутого текста.
					i   Пример курсива. 
					a(href="#") Пример ссылки в тексте
				img(src="images/event/event-content-bg.jpg", alt="")
				ul Список не нумерованный:
					li Список не нумерованный
					li Список не нумерованный
					li Список не нумерованный
					li Список не нумерованный
				ol Список нумерованный:
					li Список нумерованный
					li Список нумерованный
					li Список нумерованный
					li Список нумерованный

				h2 Пример заголовка второго уровня H2

				p С 18 по 20 июня 2019 года в Москве на территории ЦВК «Экспоцентр» в павильоне Форум прошла Международная выставка оборудования для производства и обработки проволоки, кабеля и метизов в России «Проволока Россия 2019».
				p «Проволока Россия» проводится один раз в два года и имеет статус ведущей специализированной выставки в области технологии производства кабельной и проволочной продукции в России. Организаторы выставки Messe Düsseldorf GmbH, ООО «Мессе Дюссельдорф Москва» и Всероссийский научно-исследовательский институт кабельной промышленности (ВНИИКП).
				p Выставка проходит при традиционной поддержке Союза немецких машиностроителей (VDMA) и Международной Трубной Ассоциации (ITA). В 2019 году в выставке приняли участие более 200 экспонентов из 25 стран мира, которые представили последние технологические разработки в области оборудования для производства всех видов проволоки и кабелей.

				h2 Пример заголовка второго уровня H2

				p С 18 по 20 июня 2019 года в Москве на территории ЦВК «Экспоцентр» в павильоне Форум прошла Международная выставка оборудования для производства и обработки проволоки, кабеля и метизов в России «Проволока Россия 2019».

				table
					thead
						tr
							th Параметры
							th Значение
					tbody
						tr 
							td Параметры
							td 1 - 4
						tr 
							td Макс. габаритные размеры сечения 2-x волокного кабеля, мм
							td 2,2 x 5,5

				a(href="#").button.button--big ВЕРНУТЬСЯ К НОВОСТЯМ