section.about-content
	img(src="images/home/logo.svg", alt="").about-content__bg-img
	.container 
		.inner.about-content__inner 
			.inner-left.about-content__inner-left
			.inner-right.about-content__inner-right
				.about-content__mission 
					p.about-content__text Мы всегда заботимся о наших клиентах. Мы непрерывно следуем принципам соблюдения надлежащего качества продукции и высокого уровня сервиса – это культура ведения бизнеса, которую развивает каждый сотрудник компании и которая имеет решающее значение для долгосрочного успеха – нашего и наших покупателей.
					h2.about-content__mission-title Наша миссия
					p.about-content__text Вносить вклад в развитие телекоммуникационных сетей, обеспечивая наших клиентов кабелем, в нужное время и с нужной ценой
				.about-content__history
					.about-content__history-left
						h3.about-content__history-title Развитие
						ul.about-content__history-list 
							li
								span.about-content__history-list-date 1993
								span.about-content__history-list-description Год основания компании
							li
								span.about-content__history-list-date 2003
								span.about-content__history-list-description Внедрена система менеджмента качества в соответствии с ISO 9001
							li
								span.about-content__history-list-date 2009
								span.about-content__history-list-description Произведен первый километр оптического кабеля
							li
								span.about-content__history-list-date 2010
								span.about-content__history-list-description Построен новый цех по производству кабельно-проводниковой продукции площадью 5,5 тыс. м2
							li
								span.about-content__history-list-date 2011
								span.about-content__history-list-description Начато производство линейки продуктов для сети FTTH по технологии GPON
							li
								span.about-content__history-list-date 2015
								span.about-content__history-list-description В Германии успешно завершены испытания LAN кабеля в соответствии с европейскими стандартами
							li
								span.about-content__history-list-date 2016
								span.about-content__history-list-description Начато серийное производство оптического микрокабеля для задувки в соответствии с европейскими стандартами
							li
								span.about-content__history-list-date 2018
								span.about-content__history-list-description В Германии успешно завершены испытания оптического кабеля в соответствии с европейскими стандартами
							li
								span.about-content__history-list-date 2019
								span.about-content__history-list-description KCEP является основным поставщиком кабельно-проводниковой продукции для правительственного проекта «Цифровой Казахстан»
					.about-content__history-right
						.about-content__history-slider
							.about-content__history-slider-control
								button.slider-button-prev.slider-button
									<svg class="slider-button-icon slider-button-icon-prev">
										<use xlink:href="img/sprite.svg#arrow-prev"></use>
									</svg>
								.slider-pagination-wrapper
								button.slider-button-next.slider-button
									<svg class="slider-button-icon slider-button-icon-next">
										<use xlink:href="img/sprite.svg#arrow-prev"></use>
									</svg> 
							.about-content__history-slider-slides#historySlider
								.about-content__history-slider-slide
									.about-content__history-slider-slide-img--big
										img(src="images/about/history/slider-img1.png", alt="")
									.about-content__history-slider-slide-img--left
										img(src="images/about/history/slider-img2.png", alt="")
									.about-content__history-slider-slide-img--right
										img(src="images/about/history/slider-img3.png", alt="")
										img(src="images/about/history/slider-img4.png", alt="")
										img(src="images/about/history/slider-img5.png", alt="")
										img(src="images/about/history/slider-img6.png", alt="")
								.about-content__history-slider-slide
									.about-content__history-slider-slide-img--big
										img(src="images/about/history/slider-img1.png", alt="")
									.about-content__history-slider-slide-img--left
										img(src="images/about/history/slider-img2.png", alt="")
									.about-content__history-slider-slide-img--right
										img(src="images/about/history/slider-img3.png", alt="")
										img(src="images/about/history/slider-img4.png", alt="")
										img(src="images/about/history/slider-img5.png", alt="")
										img(src="images/about/history/slider-img6.png", alt="")
								.about-content__history-slider-slide
									.about-content__history-slider-slide-img--big
										img(src="images/about/history/slider-img1.png", alt="")
									.about-content__history-slider-slide-img--left
										img(src="images/about/history/slider-img2.png", alt="")
									.about-content__history-slider-slide-img--right
										img(src="images/about/history/slider-img3.png", alt="")
										img(src="images/about/history/slider-img4.png", alt="")
										img(src="images/about/history/slider-img5.png", alt="")
										img(src="images/about/history/slider-img6.png", alt="")

