section.about-geography 
	.container
		.inner.about-geography__inner 
			.inner-left.about-geography__inner-left
			.inner-right.about-geography__inner-right
				h4.section-title География поставок
				.about-geography__map-wrapper 
					img(src="images/about/map.png", alt="")
					.about-geography__map-point
					.about-geography__map-point
					.about-geography__map-point
					.about-geography__map-point
				.about-geography__list-wrapper
					ul.about-geography__list
						li 
							a(href="#") Сингапур 
						li.active
							a(href="#") США, Нью Джерси 
						li 
							a(href="#") Россия,Саранск 
						li 
							a(href="#") Россия, Пенза 
						li 
							a(href="#") Россия, Воронеж 
						li 
							a(href="#") Россия, Новосибирск 
						li 
							a(href="#") Россия, Москва 
						li 
							a(href="#") Россия, Санкт-Петербург 
						li 
							a(href="#") Россия, Пермь 
						li 
							a(href="#") Россия, Самара 
						li 
							a(href="#") Россия, Екатеринбург
						li 
							a(href="#") Россия, (Казань), Уфа