section.about-hero
	.about-hero__bg 
		img(src="images/about/about-bg.jpg", alt="")
	.container 
		.inner.about-hero__inner
			.inner-left.about-hero__inner-left
			.inner-right.about-hero__inner-right
				h1.title.title--big Первый производитель оптического и LAN кабеля в Казахстане
				a(href="#").about-hero__button
					<svg class="about-hero__button-icon">
						<use xlink:href="img/sprite.svg#play"></use>
					</svg>