.about-popup
	.about-popup__dialog 
		.about-popup__player(data-link="https://www.youtube.com/embed/AdBWKkw0o_M")
		button.about-popup__close
			<svg class="about-popup__close-icon">
				<use xlink:href="img/sprite.svg#close"></use>
			</svg>