section.about-production
	.container 
		.inner.about-production__inner
			.inner-left.about-production__inner-left
			.inner-right.about-production__inner-right
				h4.section-title Производство
				.about-production-slider
					.about-production-slider-control
						button.slider-button-prev.slider-button.about-production-slider-button-prev
							<svg class="slider-button-icon slider-button-icon-prev">
								<use xlink:href="img/sprite.svg#arrow-prev"></use>
							</svg>
						.about-production-slider-pagination-wrapper
						button.slider-button-next.slider-button.about-production-slider-button-next
							<svg class="slider-button-icon slider-button-icon-next">
								<use xlink:href="img/sprite.svg#arrow-prev"></use>
							</svg> 
					.about-production-slider-slides#productionSlider
						div
							.about-production-slider-slide
								.about-production-slider-slide-img--big
									img(src="images/about/history/slider-img1.png", alt="")
								.about-production-slider-slide-img--right
									img(src="images/about/history/slider-img2.png", alt="")
									img(src="images/about/history/slider-img2.png", alt="")
						div
							.about-production-slider-slide
								.about-production-slider-slide-img--big
									img(src="images/about/history/slider-img1.png", alt="")
								.about-production-slider-slide-img--right
									img(src="images/about/history/slider-img2.png", alt="")
									img(src="images/about/history/slider-img2.png", alt="")
						div 
							.about-production-slider-slide
								.about-production-slider-slide-img--big
									img(src="images/about/history/slider-img1.png", alt="")
								.about-production-slider-slide-img--right
									img(src="images/about/history/slider-img2.png", alt="")
									img(src="images/about/history/slider-img2.png", alt="")
